<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="ContentsExtractionApi" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="StateBasedContentsDb" connectionString="data source=localhost;initial catalog=StateBasedContentsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <!--<add name="CrowledContentsDb" connectionString="data source=localhost;initial catalog=CrawledContentDataAccess.CrowledContentsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CrowledContentsDb_AL" connectionString="data source=localhost;initial catalog=CrawledContentDataAccess.CrowledContentsDb_AL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    -->
    <!--<add name="CrowledContentsDb_WA" connectionString="data source=localhost;initial catalog=CrawledContentDataAccess.CrowledContentsDb_WA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="CrowledContentsDb_WA" connectionString="Data Source=tcp:contentsextractionapidbserver.database.windows.net,1433;Initial Catalog=CrowledContentsDb_WA_2017-12-06T22 -07Z;User Id=ceaSvc@contentsextractionapidbserver;Password=gedyMagna@2017" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ContentsDb_AL" connectionString="Data Source=tcp:contentsextractionapidbserver.database.windows.net,1433;Initial Catalog=ContentsDb_AL;User Id=ceaSvc@contentsextractionapidbserver;Password=gedyMagna@2017" providerName="System.Data.SqlClient"/>-->
    <add name="ContentsDb_AL" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AL;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>
    <add name="ContentsDb_AK" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>

    <add name="ContentsDb_WA" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_WA;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>
    <add name="ContentsDb_HI" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_HI;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>

    <add name="PlatformCoreDb" connectionString="Data Source=tcp:contentsextractionapidbserver.database.windows.net,1433;initial catalog=PlatformCoreDb;User Id=ceaSvc@contentsextractionapidbserver;Password=gedyMagna@2017" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation>
      <assemblies>
        <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
