.question {
  margin-top: 40px;
}

.inputs {
  padding: 10px 0;
}

.inputs label {
  text-align: left;
  width: 80px;
}

.textbox, .dropdown-toggle {
  text-align: left;
  width: 250px;
  height: 45px;
  background-color: #FFF;
  border: 1px solid #7E7E7E;
  padding: 10px;
  border-radius: 4px;
}

.button-choice {
  display: inline-block;
  margin: 0 20px;
}

.multi-button {
  margin-bottom: 20px;
}

.multi-button li {
  width: 40%;
  margin: 10px;
}

.multi-button li label {
  text-align: center;
  padding: 15px 20px;
}
