label:focus {
  border: 1.5px solid #80bdff;
}

.question {
  margin-top: 40px;
}

.inputs {
  padding: 10px 0;
}

.inputs label {
  text-align: left;
  width: 80px;
}

.textbox,
.dropdown-toggle {
  text-align: left;
  width: 250px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #7e7e7e;
  padding: 10px;
  border-radius: 4px;
}

.button-choice {
  display: inline-block;
  margin: 0 20px;
}

.multi-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.multi-button li {
  width: 100%;
  margin: 10px 0;
}

.multi-button li:hover {
  background-color: #d9f2f8;
}

.multi-button li label {
  cursor: pointer;
  text-align: center;
  padding: 15px 20px;
}

ul li .check {
  display: block;
  position: absolute;
  border: 1px solid #7e7e7e;
  height: 20px;
  width: 20px;
  top: calc(50% - 10px);
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}
