label:focus {
  border: 1.5px solid #80bdff;
}

.question {
  margin-top: 40px;
}

.inputs {
  padding: 10px 0;
}

.inputs label {
  text-align: left;
  width: 80px;
}

.textbox,
.dropdown-toggle {
  text-align: left;
  width: 250px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #7e7e7e;
  padding: 10px;
  border-radius: 4px;
}

.button-choice {
  display: inline-block;
  margin: 0 20px;
}

.multi-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.multi-button li {
  width: 100%;
  margin: 10px 0;
}

.multi-button li:hover {
  background-color: #d9f2f8;
}

.multi-button li.double {
  font-size: 0;
  color: transparent;
  width: 25%;
  margin: 10px 15px;
}

.multi-button li.double label {
  background-repeat: no-repeat;
  background-position: center;
}


.multi-button li label {
  cursor: pointer;
  text-align: center;
  padding: 15px 20px;
}

.multi-button li label.no {
  background-image: url("assets/images/secondary-illustrations/cancel.svg");
}

.multi-button li label.yes {
  background-image: url("assets/images/secondary-illustrations/accept.svg");
}
