.row {
  margin: 20px auto;
}

.edit-location {
  padding-right: 17px;
}

#my-map {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 380px;
  margin-top: 60px;
}

#searchbox-container {
  max-width: 550px;
  margin: 0 auto;
}

.location-icon {
  width: 20px;
  margin-left: 25px;
  margin-top: 15px;
}

.change-location-btn {
  color: #0D3FB8;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

#search-box {
  height: 39.5px;
  width: 200px;
}

.search-btn {
  background-color: #0D3FB8;
  padding: 11.5px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  margin-left: -5px;
  font-weight: 600;
}

@media only screen and (min-width : 768px) {
  .mobile-hidden {
     display: inline-block;
  }
}
