p {
  margin-bottom: 0;
}

.row {
  margin: 5px auto;
}

.edit-location {
  padding-right: 17px;
  cursor: pointer;
}

#my-map {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 300px;
  margin-top: 15px;
}

#searchbox-container {
  max-width: 550px;
  margin: 10px auto;
}

.location-icon {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.location-icon ~ h4 {
  display: inline-block;
  margin: 0;
}

.change-location-btn {
  color: #0D3FB8;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

#search-box {
  height: 30px;
  width: 200px;
}

.search-btn {
  background-color: #0D3FB8;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  margin-left: -5px;
  font-weight: 600;
}

.close {
  margin-top: -8px;
}

@media only screen and (min-width : 768px) {
  .mobile-hidden {
    display: inline-block;
  }

  #search-box {
    width: 250px;
  }

  #my-map {
    height: 320px;
  }
}
