.row {
  margin: 20px auto;
}

.edit-location {
  padding-right: 17px;
}

#my-map {
  position: relative;
  width: 100%;
  height: 300px;
}

.modal-content {
  border-radius: 0;
}

.change-location-btn {
  color: #0D3FB8;
  font-weight: 600;
  border: none;
  background-color: transparent;
}

#searchbox-container{
  padding-bottom:20px;
}

.search-btn { 
  background-color: #0D3FBB;
  color: #fff;
  padding: 4.5px;
  border-radius: 0 5px 5px 0;
  margin-left: -5px;
}

@media only screen and (min-width : 768px) {
  .mobile-hidden {
     display: inline-block;
  }
}
