<div class="navbar-left edit-location pull-right" (click)="openModal(template)">
  <img class="nav-icon" src="/assets/images/small-icons/location.svg" aria-hidden="true" />
  <span *ngIf="showLocation; else elseBlock">
    Please Select Location
  </span>
  <ng-template #elseBlock>
    <span>{{address}} ({{locality}})</span>
  </ng-template>
  <button type="button" class="change-location-btn pxs mobile-hidden">Change</button>
</div>
<ng-template #template>
  <div class="modal-body text-center container-fluid">
    <button *ngIf="!locationInputRequired" type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row">
      <img class="location-icon" src="/assets/images/small-icons/location.svg" aria-hidden="true" />
      <h4>Location</h4>
      <p class="ps">We currently support Alaska and Hawaii</p>
      <p class="ps">You can learn more about the states we support by visiting our
        <a [routerLink]="['/about']" class="link">About</a>
        page
      </p>
    </div>
    <div class="row">
      <div id="searchbox-container">
        <input type="text" id="search-box" aria-label="search address box" autocomplete="off" placeholder="City, zip code, address" (input)="onSearchChange()"/>
        <button type="button" class="search-btn" (click)="geocode()">Search</button>
        <span *ngIf="isError" class="alert alert-danger">
          Please select your location.
        </span>
      </div>              
        <div id="my-map"></div>
      </div>
    <div class="row">
      <p class="ps">
        We promise to never share your location. View our
        <a class="link ps" [routerLink]="['/privacy']">Privacy Promise</a>
        .
      </p>
    </div>
    <div class="row">
      <button type="submit" (click)="updateLocation()" class="btn btn-primary">Update</button>
    </div>
  </div>
</ng-template>
