
@{
    ViewBag.Title = "_UploadOptionView";
}

@using ContentsUploader.Models
@model ContentUploadOptions
<label>Choose what type of Content to Upoad: </label>
@Html.DropDownListFor(m => m.SelectedOption, // 1. Store selected value in Model.State;
                                                     // when page is rendered after postback,
                                                     // take selected value from Model.State.

                                              // 2. Take list of values from Model.States
                                              Model.UploadOptions,

                                              // 3. Text for the first 'default' option
                                              " Please select Uplade Option ",

                                              //4. A class name to assign to <select> tag
                                              new { @class = "form-control" })


