<section>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="TableScenarioId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="4" align="center">Scenario Table</th>                                                       
                        </tr>
                        <tr>
                            <th>Scenario Id</th>
                            <th>LC_ID</th>
                            <th>Description</th>
                            <th>Outcome</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="TableLawCategoryId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="4" align="center">Law Category Table</th>
                        </tr>
                        <tr>
                            <th>LCID</th>
                            <th>NSMICode</th>
                            <th>Desciption</th>
                            <th>State Deviation</th>                          
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="TableProcessId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="4" align="center">Process Table</th>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>                           
                            <th>Description</th>
                            <th>ActionJson</th>                          
                            <th>LC_ID</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="TableResourceId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="4" align="center">Resource Table</th>
                        </tr>
                        <tr>
                            <th>Resource Id</th>
                            <th>ResourceType</th>
                            <th>ResourceJson</th>
                            <th>Title</th>
                            <th>Action</th>
                            <th>LC_ID</th>                          
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
