<div class="container">
  <div class="row">
    <ul class="user-action col-sm-offset-9">
      <li>
        <img src="./assets/images/small-icons/save.svg" class="nav-icon" aria-hidden="true" />
        <app-save-button></app-save-button>
      </li>
      <li>
        <img src="./assets/images/small-icons/share.svg" class="nav-icon" aria-hidden="true" />
        <app-share-button></app-share-button>
      </li>
     <li>
       <img src="./assets/images/small-icons/print.svg" class="nav-icon" aria-hidden="true" />
       <app-print-button></app-print-button>
     </li>
    </ul>
  </div>
  <h3>Your Personalized Plan</h3>
  <p>The following information and resources are sponsored by the following organizations. Legal disclaimer lorem ipsum dolor amet.</p>
  <div class="row">
    <tabset>
      <tab heading="My Plan">
        <div class="row filter-plan plan-spacing">
          <span>Show:</span>
          <button class="btn btn-selected">Eviction</button>
          <button class="btn btn-selected">Child Custody</button>
        </div>
        <div class="plan-detail">
          <div class="row plan-heading plan-spacing">
            <div class="col-md-3">
              <div class="main-icon col-md-2">
                <img class="subtopic-icon" src="./assets/images/categories/housing.svg" alt="eviction icon"/>
              </div>
              <div class="col-md-8 col-md-offset-1">
                <h3 class="inline">Eviction</h3>
              </div>
            </div>
            <div class="more-menu col-md-1 col-md-offset-8">
              <img class="pull-right plan-icon" src="./assets/images/small-icons/more_menu.svg" alt="plan menu" />
            </div>
          </div>
          <div>
            <div class="col-md-3 plan-spacing">
              <p class="pxl">Quick Links</p>
              <ul>
                <li><a href="#">content</a></li>
                <li><a href="#">content</a></li>
              </ul>
            </div>
            <div class="col-md-8 plan-spacing">
              <accordion>
                <div *ngFor= "let condition of conditionsList; let rowindex = index">
                  <accordion-group>
                    <div accordion-heading class="clearfix">
                      <img class="pull-left plan-icon" src="./assets/images/small-icons/open_accordion.svg" alt="open accordion" />
                      <h3 class="faq">Step {{rowindex + 1}}. {{condition.condition.title}}</h3>
                    </div>
                    <div class="col-md-2 col-md-offset-10">
                      <input id="checkBox" type="checkbox">
                      <label>Completed</label>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        {{condition.condition.description}}
                      </div>
                    </div>
                  </accordion-group>
                </div>
              </accordion>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="My Saved Resources">
        <app-resource-card></app-resource-card>
      </tab>
    </tabset>
  </div>
</div>
