.container {
  padding-top: 7%;
  padding-bottom: 7%;
}

h1 {
  margin-top: 0;
}

hr {
  border-top: 1.5px solid #ddd;
}

#home-img {
  width: 100%;
  max-width: 450px;
}

.tagline {
  text-align: center;
}

.hero-content {
  text-align: center;
}

.hero-description {
  margin: 20px auto 55px auto;
}

#dropdown-arrow {
  display: none;
}

.outer-bg {
  background-color: #f4f4f4;
}

.secondary-img {
  width: 65%;
  height: 65%;
  margin: 20px auto;
  float: none;
}

.slide-content {
  text-align: center;
}

.testimonial-img {
  margin-bottom: 15px;
  text-align: center;
}

.testimonial-img img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 10px;
}

.slide-content-bottom {
  padding-top: 10px;
  clear: both;
  text-align: center;
}

ul > li {
  padding-bottom: 15px;
}

ul>li>span {
  display: block;
  margin-right: 5px;
}

.sponsor-overview .btn {
  margin-bottom: 0;
}

.privacy-promise {
  background-color: #0B2B78;
  color: #F4F4F4;
  margin-bottom: 0;
}

.privacy-promise h2 {
  margin: 20px 0;
  color: #f4f4f4;
}

.privacy-promise img {
  width: 65%;
}

.panel-heading {
  display: inline-block;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  min-width: 250px;
  position: relative;
}

.label-display {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
}

@media only screen and (min-width : 768px) {
  h2 {
    margin: 0 15% 20px 15%;
  }

  .hero-content {
    padding-top: 50px;
    padding-bottom: 65px;
  }

  .hero-description {
    margin-bottom: 40px;
  }

  #home-img {
    max-width: 750px;
  }

  .tagline {
    float: left;
    padding: 0;
    text-align: left;
    padding-right: 20px;
  }

  .label-display {
    float: left;
    right: auto;
  }

  .add-state {
    padding-right: 45px;
  }

  #dropdown-arrow {
    display: block;
    width: 20px;
    top: 100%;
    position: absolute;
    left: -9.6px;
  }

  .secondary-img {
    margin-top: 0;
    float: right;
  }

  .guided-assistant-steps {
    text-align: left;
    float: right;
  }

  ul>li>span {
    display: inline-block;
  }

  .slide-content {
    text-align: left;
    padding-left: 10%;
    padding-top: 5%
  }

  .testimonial-img {
    float: left;
  }

  .testimonial-img img {
    max-width: 215px;
    max-height: 215px;
  }

  .privacy-promise {
    text-align: left;
  }
  
  .privacy-promise .privacy-content {
    text-align: left;
  }

  .privacy-promise img {
    width: 100%;
  }
}

@media only screen and (min-width : 992px) {
  h2 {
    margin: 0 19% 40px 19%;
  }

  .hero-content {
    padding-top: 15px;
    padding-bottom: 100px;
  }

  .label-display {
    position: static;
    padding: 15px 0 15px 15px;
  }

  .slide-content {
    padding-left: 10%;
  }

  .slide-content .mobile-hidden {
    text-align: left;
  }

  .panel-heading {
    min-width: 400px;
  }

  .guided-assistant-steps .btn-primary {
    margin-bottom: 0;
  }

  .testimonial-img img {
    max-width: 300px;
    max-height: 300px;
  }

  .mobile-hidden {
    display: block;
  }
  
  .privacy-promise .privacy-content {
    padding-top: 5%;
  }
}

@media only screen and (min-width : 1124px) {
  .tagline {
    margin-top: 10%;
  }

  .slide-content {
    padding-left: 7%;
  }
}

@media only screen and (min-width : 1224px) {
  .outer-bg {
    margin-top: -110px;
  }

  .topic-button {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width : 1824px) {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
