<div *ngIf="homeContent">
  <div class="container">
    <div class="row top-row">
      <div [ngClass]="{'col-sm-6': heroData.image.source, '': !heroData.image.source }" class="tagline text-center">
        <h2>{{heroData.heading}} {{state}}</h2>
        <p>
          {{heroData.description.text}}
          <a class="link" [routerLink]="heroData?.description?.textWithLink?.url">{{heroData?.description?.textWithLink?.urlText}}</a>
        </p>
      </div>
      <div *ngIf="heroData.image.source" class="col-sm-6">
        <img id="home-img" [src]="blobUrl + heroData?.image?.source" [alt]="heroData?.image?.altText">
      </div>
    </div>
  </div>
  <div class="outer-bg text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <h3>{{guidedAssistantOverviewData?.heading}}</h3>
        </div>
      </div>
      <div *ngIf="guidedAssistantOverviewData.image.source" class="row">
        <div class="col-sm-4 col-xs-12">
          <img class="secondary-img" [src]="blobUrl + guidedAssistantOverviewData?.image?.source"
               [alt]="guidedAssistantOverviewData?.image?.altText">
        </div>
        <div class="guided-assistant-steps col-sm-7 col-sm-offset-1">
          <ul class="p" *ngFor="let steps of guidedAssistantOverviewData?.description?.steps">
            <li><span>{{steps?.order}}.</span>{{steps?.description}}</li>
          </ul>
          <p>
            {{guidedAssistantOverviewData.description.text}}
            <a [routerLink]="guidedAssistantOverviewData?.description?.textWithLink?.url">{{guidedAssistantOverviewData?.description?.textWithLink?.urlText}}.</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
           <a class="btn btn-primary" [routerLink]="guidedAssistantOverviewData?.button?.buttonLink">{{guidedAssistantOverviewData?.button?.buttonText}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>{{topicAndResourcesData?.heading}}</h3>
      </div>
    </div>
    <div class="row">
      <app-topics [topicLength]="topicLength"></app-topics>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a class="btn btn-primary" [routerLink]="topicAndResourcesData?.button?.buttonLink"> {{topicAndResourcesData?.button?.buttonText}} </a>
      </div>
    </div>
  </div>
  <div class="outer-bg">
    <div class="container">
      <div class="row">
        <carousel>
          <slide *ngFor="let slide of carouselData.slides">
            <div>
              <img *ngIf="slide.image.source" [src]="blobUrl + slide?.image?.source" class="testimonial-img col-lg-3 col-sm-4" alt="slide?.image?.altText">
              <div class="slide-content inline col-lg-9 col-sm-8">
                <h5>{{slide.quote}}</h5>
                <hr />
                <p class="ps">{{slide?.author}}</p>
                <p class="ps">{{slide?.location}}</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <h4>{{sponsorOverviewData?.heading}}</h4>
    <p>{{sponsorOverviewData?.description}}</p>
    <div class="row">
      <div class="col-sm-6" *ngFor="let sponsor of sponsors">
        <img *ngIf="sponsor.source" class="secondary-img" [src]="blobUrl + sponsor?.source"
             [alt]="sponsor?.altText">
      </div>     
    </div>
    <a class="btn btn-primary" [routerLink]="sponsorOverviewData?.button?.buttonLink">
      {{sponsorOverviewData?.button?.buttonText}}
    </a>
  </div>
</div>
<div class="privacy-promise text-center" *ngIf="privacyData">
  <div class="container">
    <div class="row">
      <div *ngIf="privacyData.image.source" class="col-sm-5">
        <img [src]="blobUrl + privacyData?.image?.source" [alt]="privacyData?.image?.altText">
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h3>{{privacyData?.heading}}</h3>
        <p>{{privacyData?.description}}</p>
        <div class="row">
          <a class="btn btn-secondary" [routerLink]="privacyData?.button?.buttonLink">
            {{privacyData?.button?.buttonText}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-helpline></app-helpline>
