<div *ngIf="homeContent">
  <div class="container">
    <div class="row top-row">
      <div class="col-sm-6 tagline text-center">
        <h2>{{homeContent.hero.heading}} State</h2>
        <p>{{homeContent.hero.subHeading}}</p>
      </div>
      <div class="col-sm-6">
        <img id="home-img"
             [src]="homeContent.hero.image.path"
             alt="Image of state">
      </div>
    </div>
  </div>
  <div class="outer-bg text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
          <h3>
            Need a plan of action for your legal issue? Our Guided Assistant can help.
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <img class="secondary-img"
               src="/assets/images/secondary-illustrations/guided_assistant.svg"
               alt="Guided Assistant Illustration">
        </div>
        <div class="guided-assistant-steps col-sm-7 col-sm-offset-1">
          <ul class="p">
            <li><span>1.</span>Answer a few questions to help us understand your needs.</li>
            <li><span>2.</span>We'll create a personalized plan with steps and resources.</li>
            <li><span>3.</span>Share, print, or create a profile to save your plan.</li>
          </ul>
          <p>
            Free and no account necessary. We never share any information you provide.
            <a [routerLink]="['/privacy']">Privacy Promise.</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <button type="button" class="btn btn-primary">Start the Guided Assistant</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h3>More Information, Videos, and Links to Resources by Topic</h3>
      </div>
    </div>
    <div class="row">
      <app-topics [topicLength]="topicLength"></app-topics>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button [routerLink]="['/topics']" type="button" class="btn btn-primary">See More Topics</button>
      </div>
    </div>
  </div>
  <div class="outer-bg">
    <div class="container">
      <div class="row">
        <carousel>
          <slide>
            <div>
              <div class="testimonial-img col-lg-3 col-sm-4">
              </div>
              <div class="slide-content inline col-lg-9 col-sm-8">
                <h5>"Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.."</h5>
                <hr />
                <p class="ps">Robbie</p>
                <p class="ps">Anchorage, AK</p>
              </div>
            </div>
          </slide>
          <slide>
            <div>
              <div class="testimonial-img col-lg-3 col-sm-4">
              </div>
              <div class="slide-content inline col-lg-9 col-sm-8">
                <h5>"Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus."</h5>
                <hr />
                <p class="ps">Robbie</p>
                <p class="ps">Anchorage, AK</p>
              </div>
            </div>
          </slide>
          <slide>
            <div>
              <div class="testimonial-img col-lg-3 col-sm-4">
              </div>
              <div class="slide-content inline col-lg-9 col-sm-8">
                <h5>"Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat."</h5>
                <hr />
                <p class="ps">Robbie</p>
                <p class="ps">Anchorage, AK</p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <h4>Information you can trust</h4>
    <p>This site is here to provide equal access to legal information and resources for everyone. Legal disclaimer lorem ipsum dolor amet. It is brought to you by partnership of these nonproffit organizations.</p>
    <img src="" alt="">
    <img src="" alt="">
    <button class="btn btn-primary">Learn more</button>
  </div>
</div>
<div class="privacy-promise text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img class="secondary-img"
             src="/assets/images/secondary-illustrations/privacy_promise.svg"
             alt="Guided Assistant Illustration">
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <h3>Our Privacy Promise</h3>
        <p>We value your privacy and will never share your personal information with anyone without your lorem ipsum dolor sit amet.</p>
        <div class="row">
          <button class="btn btn-secondary">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-helpline></app-helpline>
