<div *ngIf="homeContent">
  <div class="container hero-content">
    <div [ngClass]="{'col-sm-6': heroData.image.source, '': !heroData.image.source }" class="tagline">
      <h1>{{heroData.heading}} {{state}}</h1>
      <p class="hero-description">
        {{heroData.description.text}}
        <a class="link" [routerLink]="heroData?.description?.textWithLink?.url">{{heroData?.description?.textWithLink?.urlText}}.</a>
      </p>
      <div class="panel-heading box-shadow">
        <span class="label-display p">Showing Information for </span>
        <app-map [mapType]="true"></app-map>
      </div>
      <p class="ps add-state">Add your state to get specific information for your location.</p>
    </div>
    <div *ngIf="heroData.image.source" class="col-sm-6">
      <img id="home-img" [src]="blobUrl + heroData?.image?.source" [alt]="heroData?.image?.altText">
      <img id="dropdown-arrow" src="../../assets/images/small-icons/arrow_down.svg" alt="dropdown arrow" />
    </div>
  </div>
  <div class="outer-bg text-center" id="guided-assistant-overview">
    <div class="container">
      <h2>{{guidedAssistantOverviewData?.heading}}</h2>
      <div *ngIf="guidedAssistantOverviewData.image.source">
        <div class="col-sm-4">
          <img class="secondary-img" [src]="blobUrl + guidedAssistantOverviewData?.image?.source"
               [alt]="guidedAssistantOverviewData?.image?.altText">
        </div>
        <div class="guided-assistant-steps col-sm-7">
          <ul class="p" *ngFor="let steps of guidedAssistantOverviewData?.description?.steps">
            <li><span>{{steps?.order}}.</span>{{steps?.description}}</li>
          </ul>
          <p>
            {{guidedAssistantOverviewData?.description?.text}}
            <a class="link" [routerLink]="guidedAssistantOverviewData?.description?.textWithLink?.url">{{guidedAssistantOverviewData?.description?.textWithLink?.urlText}}.</a>
          </p>
          <div>
            <a class="btn btn-primary" [routerLink]="guidedAssistantOverviewData?.button?.buttonLink">{{guidedAssistantOverviewData?.button?.buttonText}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="text-center">{{topicAndResourcesData?.heading}}</h2>
    <div>
      <app-topics [topicLength]="topicLength"></app-topics>
    </div>
    <div class="text-center topic-button">
      <a class="btn btn-primary" [routerLink]="topicAndResourcesData?.button?.buttonLink"> {{topicAndResourcesData?.button?.buttonText}} </a>
    </div>
  </div>
  <div *ngIf="carouselData.slides.length > 0" class="outer-bg">
    <div class="container">
      <div>
        <carousel>
          <slide *ngFor="let slide of carouselData.slides">
            <div class="col-sm-3 testimonial-img">
              <img *ngIf="slide.image.source" [src]="blobUrl + slide?.image?.source"  alt="slide?.image?.altText">
            </div>
            <div class="slide-content col-sm-9">
              <h4>{{slide.quote}}</h4>
              <div class="mobile-hidden">
                <hr />
                <p>{{slide?.author}}</p>
                <p class="ps">{{slide?.location}}</p>
              </div>
            </div>
            <div class="slide-content-bottom web-hidden">
              <hr />
              <p>{{slide?.author}}</p>
              <p class="ps">{{slide?.location}}</p>
            </div>
            </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
<div *ngIf="sponsorOverviewData" class="container text-center">
  <div class="col-sm-10 col-md-8">
    <h2>{{sponsorOverviewData?.heading}}</h2>
    <p>{{sponsorOverviewData?.description}}</p>
    <div *ngFor="let sponsor of sponsors">
      <img *ngIf="sponsor.source" class="secondary-img" [src]="blobUrl + sponsor?.source"
             [alt]="sponsor?.altText">
    </div>
    <a class="btn btn-primary" [routerLink]="sponsorOverviewData?.button?.buttonLink">
      {{sponsorOverviewData?.button?.buttonText}}
    </a>
  </div>
</div>
<div class="privacy-promise text-center" *ngIf="privacyData">
  <div class="container">
    <div *ngIf="privacyData.image.source" class="col-sm-5">
      <img [src]="blobUrl + privacyData?.image?.source" [alt]="privacyData?.image?.altText">
    </div>
    <div class="col-sm-6 privacy-content">
      <h2>{{privacyData?.heading}}</h2>
      <p>{{privacyData?.description}}</p>
      <div>
        <a class="btn btn-secondary" [routerLink]="privacyData?.button?.buttonLink">
          {{privacyData?.button?.buttonText}}
        </a>
      </div>
    </div>
  </div>
</div>
<app-helpline></app-helpline>
