#wrapper {
  margin-bottom: 20px;
  width: 100%;
  padding: 10% 5%;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width : 768px) {
  #wrapper {
    padding: 5% 15%;
  }
}
