<div *ngFor="let rightbox of rightboxes" [class]="rightbox.self">
    <div class="box_sent2">

        <div class="box_sent_sub">

            <a href="#" data-toggle="modal" data-target="#myModal-chat" (click)="openPop(rightbox.url)">
                {{rightbox.text}}
            </a>

        </div>
    </div>
</div>

<div class="modal fade timeline-modal" id="myModal-chat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closePop()"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body text-center p-left-20 p-right-20 p-top-20">
                <h2>USER ID</h2>
                <p class="m-top-15"><strong>12345</strong></p>
                <p>This userid is being generated for the sole purpose of allowing you to return to the same step in the process where you left off. We are not retaining any of your personal or specific information.</p>
                <p class="m-top-15"><strong>OR</strong></p>
                <div class="input-group col-md-8 col-md-offset-2 timeline-browse m-top-20 m-bottom-10">
                    <input type="text" placeholder="Enter Your Email" class="form-control">
                    <label class="input-group-btn">

                        <span class="btn btn-primary" data-dismiss="modal" (click)="closePop()">
                            Send Link
                        </span>
                    </label>
                </div>
                <p>This userid is being generated for the sole purpose of allowing you to return to the same step in the process where you left off. We are not retaining any of your personal or specific information.</p>
            </div>
        </div>
    </div>
</div>