.service-org {
  background-color: #f4f4f4;
  padding: 20px 5%;
  margin-top: 0;
}

.sidebar-wrapper {
  margin-bottom: 20px;
}

.org-name {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.sidebar-block {
  width: 100%;
}

.sidebar-block ul {
  margin-bottom: 20px;
}

.sidebar-img {
  width: 250px;
}

.full-page-img {
  width: 250px;
}

.sidebar-block .col-sm-4 {
  margin: 15px 0;
}

a.btn-primary, a.btn-primary:hover {
  color: #fff;
}

@media only screen and (min-width : 992px) {
  .sidebar-img {
    width: 100%;
    padding: 20px;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width : 1224px) {
  .btn-primary {
    font-size: 16px;
  }
}
