.media {
  border: 1px solid #777;
  margin-bottom: -14px;
  margin-top: -12px;
  padding: 10px;
  cursor: pointer;
}

.step-content {
  padding: 0 10px;
  margin-bottom: -5px;
}

.accordion-img {
  background-position-y: 5px;
}

h2 {
  margin-top: 5%;
}

.static-img-container {
  margin-top: 15px;
}

.col-md-10 {
  margin-bottom: 10%;
}
