.media {
  border: 1px solid #777;
  margin-bottom: -31px;
  margin-top: -10px;
  padding: 10px;
}

.step-content {
  padding: 40px 10px 0 10px;
  margin-bottom: -5px;
}

.accordion-img {
  background-position-y: 18px;
}

h2 {
  margin-top: 5%;
}