<div id="live-chat">
  <div *ngIf="!showChatbot" class="chat-icon" (click)="toggleChat()">
    <img src="./assets/images/small-icons/chat.svg" alt="Chatbot" />
    Chat
  </div>
  <div *ngIf="showChatbot" class="chat">
    <div class="chat-header">
      <img src="./assets/images/small-icons/chat.svg" alt="Chatbot" />
      <span>Chat</span>
    </div>
    <div class="chat-history">
      <div class="chat-message">
        <div class="chat-message-content">Welcome. What would you like help with?</div>
        <div *ngFor="let message of messages">
          <p class="chat-message-content user-input">{{message.inputText}}</p>
          <p class="chat-message-content chat-response">{{message.text}}</p><br/>
          <div *ngFor=" let lawType of message.types">
            <ul>
              <li>
                <div (click)="select(lawType.destination)"><span class="chatbot-message">{{lawType.label}}</span></div>
                <!--<p class="chat-time" *ngIf="lawType.destination">{{lawType.destination}}</p>-->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form id="chatbox-input" action="#" method="post">
        <div class="input-box">
          <input type="text" placeholder="Type your message…" [(ngModel)]="replyMessage" name="replyMessage" autofocus>
          <button id="search-phrase-button" type="submit" aria-label="search button" (click)="reply()">
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
