.upper-nav {
  background: #f4f4f4;
  color: #333;
  min-height: 40px;
}

.navbar-nav > li > a {
  padding: 10px 15px;
}

.navbar-nav > li > a:hover {
  background-color: #f4f4f4;
  color: #333;
}

#location {
  position: absolute;
  top: -2px;
  right: 0;
  width: 65%;
  background: #f4f4f4;
  height: 33px;
  padding: 10px 0;
}

@media only screen and (min-width : 768px) {
  #location {
    position: static;
    width: auto;
  }
}

@media only screen and (min-width : 992px) {
  .create-account {
    margin-right: -25px;
  }

  .account-menu {
    display: inline-block;
  }

  .left-menu {
    margin: 0;
  }
}
