ul {
  margin-bottom: 0;
}

li {
  display: inline-block;
  cursor: pointer;
}

li:hover, #location:hover {
  background-color: #fff;
}

li a:hover {
  color: #333;
}

li a img {
  margin-left: 0;
}

.upper-nav {
  background: #f4f4f4;
  color: #333;
  min-height: 40px;
}

.left-menu {
  margin-left: -10px;
}

.right-menu {
  float: right;
  margin-right: -15px;
}

.right-menu li {
  padding: 15px 10px;
}

.right-menu li:last-child {
  padding: 0;
}

#location {
  position: absolute;
  top: -2px;
  right: 0;
  width: auto;
  background: #f4f4f4;
}

#language {
  margin-left: -10px;
}

#privacy-promise-navigation-link {
  background-image: url('../../../assets/images/small-icons/privacy.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 25px;
  padding-bottom: 2px;
  outline-offset: 15px;
  display: block;
}

@media only screen and (min-width : 768px) {
  .upper-nav {
    min-height: 50px;
  }

  #location {
    position: static;
    width: auto;
  }
}
@media only screen and (min-width : 1124px) {
  .right-menu li {
    padding: 15px;
  }
}
