ul {
  margin-bottom: 0;
}

li {
  display: inline-block;
  cursor: pointer;
}

li:hover {
  background-color: #fff;
}

li a:hover {
  color: #333;
}

.upper-nav {
  background: #f4f4f4;
  color: #333;
  min-height: 40px;
}

.left-menu {
  margin-left: -10px;
}

.right-menu {
  float: right;
  margin-right: -15px;
}

.right-menu li {
  padding: 15px;
}

#location {
  position: absolute;
  top: -2px;
  right: 0;
  width: auto;
  background: #f4f4f4;
}

#language {
  margin-left: -10px;
}

@media only screen and (min-width : 768px) {
  .upper-nav {
    min-height: 50px;
  }

  #location {
    position: static;
    width: auto;
  }
}
