<div class="navbar navbar-fixed-top upper-nav">
  <div class="container">
    <div class="navbar-left left-menu pxs">
      <ul class="nav navbar-nav">
        <li class="inline"><app-language></app-language></li>
        <li class="inline" id="location">
          <app-map [mapType]="true"></app-map>
        </li>
      </ul>
    </div>
    <div class="navbar-right">
      <ul class="nav navbar-nav mobile-hidden pxs">
        <li>
          <a [routerLink]="['/' + privacyPromise?.button?.buttonLink]">
            <img class="nav-icon" [src]="blobUrl + privacyPromise?.image?.source" aria-hidden="true" />
            {{privacyPromise?.button?.buttonText}}
          </a>          
        </li>
        <li>
          <a [routerLink]="['/' + helpAndFAQ?.button?.buttonLink]">
            <img class="nav-icon" [src]="blobUrl + helpAndFAQ?.image?.source" aria-hidden="true" />
            {{helpAndFAQ?.button?.buttonText}}
          </a>
        </li>
        <li>
          <app-login [login]="login"></app-login>
        </li>
      </ul>
    </div>
  </div>
</div>
