iframe {
  width: 100%;
  height: 200px;
}

@media only screen and (min-width : 768px) {
  iframe {
    height: 300px;
  }
}

@media only screen and (min-width : 992px) {
  iframe {
    height: 400px;
    max-width: 800px;
    margin-top: 20px;
  }

  .col-md-4 {
    padding-left: 5%;
  }
}
