<div class="container" *ngIf="privacyContent">
  <h1>Privacy Promise Page</h1>
  <form #privacyForm="ngForm" (ngSubmit)="onSubmit(privacyForm)">
    <div class="box-shadow">
      <h2>Heading</h2>
      <div class="row">
        <div class="description col-sm-12">
          <label class="col-md-2 col-sm-3">Page Description</label>
          <app-ngx-editor [config]="editorConfig" name="pageDescription" height="200px" minHeight="50px" class="col-md-10 col-sm-9" [spellcheck]="true" [(ngModel)]="privacyContent.description"></app-ngx-editor>
          <!--<quill-editor name="pageDescription" [(ngModel)]="privacyContent.description"></quill-editor>-->
          <!--<textarea-->
            <!--class="form-control col-md-10 col-sm-9"-->
            <!--name="pageDescription"-->
            <!--[(ngModel)]="privacyContent.description"-->
          <!--&gt;</textarea>-->
        </div>
      </div>
    </div>
    <div class="box-shadow">
      <h2>Sections</h2>
      <div
        class="row sections"
        *ngFor="let content of privacyContent?.details; let i = index"
      >
        <div>
          <label class="col-md-2 col-sm-3">Section Title</label>
          <input
            class="form-control col-md-10 col-sm-9"
            [(ngModel)]="content.title"
            [name]="'title' + i"
          />
        </div>
        <div class="description col-sm-12">
          <label class="col-md-2 col-sm-3">Section Description</label>
          <app-ngx-editor [config]="editorConfig" name="'description' + i" height="200px" minHeight="50px" class="col-md-10 col-sm-9" [spellcheck]="true" [(ngModel)]="content.description"></app-ngx-editor>
          <!--<textarea-->
            <!--class="form-control col-md-10 col-sm-9"-->
            <!--[(ngModel)]="content.description"-->
            <!--[name]="'description' + i"-->
          <!--&gt;</textarea>-->
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
</div>
