<app-breadcrumb
  [resourceTopic]="topicId"
  [resourceType]="resource.resourceType"
  #breadcrumb
></app-breadcrumb>
<div class="user-action mobile-hidden pull-right">
  <app-user-action-sidebar
    [mobile]="true"
    [id]="resource.id"
    [type]="resource.resourceType"
  ></app-user-action-sidebar>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12">
    <h2>{{ resource.name }}</h2>
    <p>{{ resource?.resourceCategory }}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-sm-12">
    <!--<div class="expanded-image no-print">
      <img
        *ngIf="currentImage; else elseblock"
        [src]="currentImage"
        alt="Alternate Text"
      />
      <ng-template #elseblock>
        <img
          src="https://www.w3schools.com/howto/img_snow.jpg"
          (click)="changeModalImage($event)"
          alt="Alternate Text"
        />
      </ng-template>
      <div class="thumbnails">
        <img
          src="https://www.w3schools.com/howto/img_snow.jpg"
          (click)="changeImage($event)"
          alt="Alternate Text"
        />
        <img
          src="https://www.w3schools.com/howto/img_mountains.jpg"
          (click)="changeImage($event)"
          alt="Alternate Text"
        />
        <img
          src="https://www.w3schools.com/howto/img_lights.jpg"
          (click)="changeImage($event)"
          alt="Alternate Text"
        />
        <a (click)="openModal(template)">3 more photos</a>
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">
              Organization Name's photo gallery
            </h4>
            <button
              type="button"
              class="close pull-right"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="current-img">
              <img
                *ngIf="currentModalImage; else modalElseblock"
                [src]="currentModalImage"
                alt="Alternate Text"
              />
              <ng-template #modalElseblock>
                <img
                  src="https://www.w3schools.com/howto/img_snow.jpg"
                  (click)="changeModalImage($event)"
                  alt="Alternate Text"
                />
              </ng-template>
            </div>
            <div class="modal-thumbnails">
              <img
                src="https://www.w3schools.com/howto/img_snow.jpg"
                (click)="changeModalImage($event)"
                alt="Alternate Text"
              />
              <img
                src="https://www.w3schools.com/howto/img_mountains.jpg"
                (click)="changeModalImage($event)"
                alt="Alternate Text"
              />
              <img
                src="https://www.w3schools.com/howto/img_lights.jpg"
                (click)="changeModalImage($event)"
                alt="Alternate Text"
              />
            </div>
          </div>
        </ng-template>
      </div>
    </div>-->
    <div class="box-no-shadow">
      <div class="resource-body">
        <div>{{ resource.address }}</div>
        <div>{{ resource.telephone }}</div>
        <div *ngIf="resource.url">
          <a class="link" href="{{ resource.url }}">{{ urlOrigin }}</a>
        </div>
      </div>
    </div>
    <div
      class="box-no-shadow"
      *ngIf="resource.overview || resource.specialties"
    >
      <div class="resource-body">
        <div class="resource-sections" *ngIf="resource.overview">
          <h4>Overview</h4>
          <p>{{ resource.overview }}</p>
        </div>
        <div class="resource-sections" *ngIf="resource.specialties">
          <h5>Specialties</h5>
          <ul>
            <li>{{ resource.specialties }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="box-no-shadow"
      *ngIf="resource.eligibilityInformation || resource.qualifications"
    >
      <div class="resource-body">
        <div class="resource-sections" *ngIf="resource.eligibilityInformation">
          <h4>Eligibility Information</h4>
          <p>{{ resource.eligibilityInformation }}</p>
        </div>
        <div class="resource-sections" *ngIf="resource.qualifications">
          <h5>Qualifications</h5>
          <ul>
            <li>{{ resource.qualifications }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box-no-shadow" *ngIf="resource.isFormAvailable">
      <div class="resource-body">
        <div class="resource-sections">
          <h5>Intake Form</h5>
          <p>
            This organization has an electronic intake form. You can fill out an
            intake form to be review by the organization in order to start using
            their services.
          </p>
          <app-intake-form></app-intake-form>
        </div>
      </div>
    </div>
    <div
      class="box-no-shadow org-review"
      *ngIf="resource.reviewer && resource.reviewer.length"
    >
      <div class="resource-body">
        <h4>Reviewed by a member of your community</h4>
        <div *ngFor="let reviewer of resource.reviewer">
          <p>"{{ reviewer.reviewText }}"</p>
          <div class="media-left" *ngIf="reviewer.reviewerImage">
            <img
              class="media-object"
              [src]="reviewer.reviewerImage"
              [alt]="reviewer.reviewerFullName"
            />
          </div>
          <div class="media-body" *ngIf="reviewer.reviewerImage">
            <p>{{ reviewer.reviewerFullName }}, {{ reviewer.reviewerTitle }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 pull-right">
    <div class="no-print">
      <app-map-results [searchResource]="searchResource"></app-map-results>
    </div>
    <div class="box-no-shadow" *ngIf="resource.businessHours">
      <div class="resource-body">
        <h5>Business Hours</h5>
        <ul class="hours">
          <li>
            <span>{{ resource.businessHours }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 user-action web-hidden">
    <app-user-action-sidebar
      [mobile]="true"
      [id]="resource.id"
      [type]="resource.resourceType"
    ></app-user-action-sidebar>
  </div>
</div>
