@import url("style-guide.css");

/*Shared Resources*/
body {
  margin-top: 40px;
}

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-12 {
  margin: 0 auto;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  color: #333;
}

.nav-icon {
  width: 15px;
  margin: 0 5px 2px 5px;
}

.inline {
  display: inline-block;
}

li.web-hidden {
  background-color: #f4f4f4;
  margin: 0;
}

.mobile-hidden {
  display: none;
  text-align: center;
}

.row {
  margin: 20px auto;
}

.center-align {
  margin: 0 auto;
}

.sidebar {
  border: 1px solid #000;
}

/* Language Dropdown */
.navbar-nav .open .dropdown-menu {
  height: 360px;
  overflow-y: scroll;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  margin-top: 0;
  margin-top: 13px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #fff;
  padding: 15px;
}

/*Home Page - Carousel*/
.carousel.slide {
  height: 525px;
  background-color: #f4f4f4;
}

.carousel-inner {
  padding: 60px 0;
}

a.carousel-control {
  width: 0;
  position: absolute;
  top: 478px;
  opacity: 1;
  color: #0D3FBB;
  font-size: 2em;
  text-shadow: none;
  z-index: 1;
  cursor: pointer;
}

a.carousel-control:hover {
  color: #0D3FBB;
}

a.carousel-control .icon-prev:before {
  content: "\2190";
  margin-left: 10px;
}

a.carousel-control .icon-next:before {
  content: "\2192";
}

a.carousel-control .icon-next {
  margin-right: 10px;
}

.carousel-indicators {
  z-index: 1;
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #0D3FBB;
  width: .6em;
  height: .6em;
  margin: 0 2px; 
}

.carousel-indicators li {
  background-color: #7EB1ED;
  margin: 0 2px; 
  border: none;
  width: .6em;
  height: .6em;
  z-index: 1;
}

/*Help Page - Accordion */
.panel {
  box-shadow: none;
  border: none;
}

.panel-group .panel+.panel {
  margin-top: -2px;
}

.panel-default>.panel-heading {
  background:none;
  border: 1px solid black;
  border-radius: 0;
}

.panel-body {
  padding: 25px 15px 50px 15px;
}

/*Topics & Resources Page - Accordion */
.angle-bracket {
  padding: 0 5px;
}

/*Location Modal*/
.modal-content {
  border-radius: 0;
}

.close {
  font-size: 50px;
  font-weight: 400;
  color: #0D3FB8;
  opacity: 1;
}

@media only screen and (min-width : 768px) {
  .row {
    margin: 40px auto;
  }
  
  .navbar-nav .open .dropdown-menu {
    width: 630px;
    min-height: 415px;
    overflow: hidden;
    margin-top: 5px;
  }

  .carousel.slide {
    height: 350px;
  }

  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 1.5em;
  }

  a.carousel-control {
    top: 282px;
  }

  .modal-dialog {
    width: 65%;
  }
}
@media only screen and (min-width : 992px) {
  .container {
    width: 90%;
  }
  
  li.web-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
}

@media only screen and (min-width : 1224px) {
  .container {
    width: 80%
  }
}
