/*Shared Resources*/
body {
  position: relative !important;
  top: 40px !important;
  min-height: 83% !important;
}

li {
  list-style: none;
}

li label {
  font-weight: 600;
}

ul {
  padding-left: 0;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px 2px 5px;
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.web-hidden {
  background-color: transparent;
  margin: 0;
  display: block;
}

.mobile-hidden {
  display: none;
  text-align: center;
}

.center-align {
  margin: 0 auto;
}

.sidebar-block {
  display: inline-block;
  padding: 20px;
}

.box-shadow {
  box-shadow: 0 0 5px 3px #ddd;
}

.box-no-shadow {
  border: 1px solid #ddd;
}

textarea {
  resize: none;
}

.MicrosoftMap .as_container_search {
  width: 80% !important;
  margin: 0 5%;
}

.static-img-container {
  border-bottom: 1.5px solid #0D3FBB;
  margin: 40px 0;
}

.static-img {
  display: inline-block;
  width: 15%;
  margin-bottom: 20px;
  margin-right: 20px;
  min-width: 120px;
}

.resource-sections {
  margin-bottom: 40px;
}

.resource-sections:last-child {
  margin-bottom: 0;
}


/* Language Dropdown */
.dropdown-icon {
  width: 10px;
  margin-left: 5px;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-te-combo {
  font-size: 16px !important;
}

.goog-te-combo option {
  cursor: pointer;
}

.goog-te-combo option:hover {
  background-color: #f4f4f4;
}

.left-menu .navbar-nav {
  margin: 0;
}

#google_translate_element {
  left: 0;
  padding: 20px 20px 10px 10px;
  position: fixed; 
  top: 42px; 
  background: #fff; 
  width: 275px; 
  height: 385px;
}

#goog-gt-tt {
  visibility: hidden !important;
}

/*Topics & Resources Page - Accordion */
.angle-bracket {
  padding: 0 5px;
}

.user-action {
  padding-left: 0;
  text-align: center;
}

.user-action li {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

.breadcrumb {
  background-color: #fff;
  border-radius: 0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

/*Curated Experience*/
#articles-dropdown .dropdown-menu {
  position: static;
  z-index: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: 100%;
}

.progress {
  height: 15px;
  border: 1px solid #ccc;
  background-color: #FFF;
  box-shadow: none;
  border-radius: 10px;
}

.progress-bar {
  background-color: #0D3FBB;
}

/*Print & Download*/
.print-only {
  display: none;
}

.MicrosoftMap .as_container_search {
  margin: 30px 6.5% !important;
}

@media only screen and (min-width : 768px) {
  body {
    top: 50px !important;
  }

  #google_translate_element {
    left: 1.9%;
    padding: 30px 20px 10px 20px; 
  }

  .static-img {
    margin-bottom: 40px;
    margin-right: 40px;
  }

  #goog-gt-tt {
    visibility: visible !important;
  }

  .MicrosoftMap .as_container_search {
    margin: 30px 7.5% !important;
  }
}
@media only screen and (min-width : 992px) {
  .web-hidden {
    display: none;
  }

  .mobile-hidden {
    display: inline-block;
  }

  .user-action {
    text-align: right;
  }

  #signin-dropdown .dropdown-menu {
    margin-top: -1px;
    margin-left: 0;
    text-align: right;
  }

  #google_translate_element {
    left: 7.1%;
  }
}
