@import url("style-guide.css");

/*Shared Resources*/
body {
  margin-top: 40px;
}

[class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-12 {
  margin: 0 auto;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  color: #333;
}

.nav-icon {
  width: 15px;
  margin: 0 5px 2px 5px;
}

.inline {
  display: inline-block;
}

li.web-hidden {
  background-color: #f4f4f4;
  margin: 0;
}

.mobile-hidden {
  display: none;
  text-align: center;
}

.row {
  margin: 20px auto;
}

.center-align {
  margin: 0 auto;
}

.sidebar {
  border: 1px solid #000;
}

/*Home Page - Carousel*/
div.carousel.slide {
  height: 350px;
  background-color: #f4f4f4;
}

.carousel-inner {
  padding-top: 75px;
}

a.carousel-control{
  width: 0;
  margin: 0 10px;
  opacity: 1;
  color: #0D3FBB;
  font-size: 2.5em;
  text-shadow: none;
  z-index: 1;
}

.carousel-indicators {
  z-index: 1;
}

.carousel-indicators .active {
  background-color: #0D3FBB;
  width: .6em;
  height: .6em;
  margin: 0 2px; 
}

.carousel-indicators li {
  background-color: #7EB1ED;
  margin: 0 2px; 
  border: none;
  width: .6em;
  height: .6em;
  z-index: 1;
}

/*Help Page - Accordion */
.panel {
  box-shadow: none;
  border: none;
}

.panel-group .panel+.panel {
  margin-top: -2px;
}

.panel-default>.panel-heading {
  background:none;
  border: 1px solid black;
  border-radius: 0;
}

.panel-body {
  padding: 25px 15px 50px 15px;
}

/*Topics & Resources Page - Accordion */
.angle-bracket {
  padding: 0 5px;
}

@media only screen and (min-width : 768px) {
  
  .row {
    margin: 40px auto;
  }
  
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 1.5em;
  }
}

@media only screen and (min-width : 992px) {
  .container {
    width: 80%;
  }
  
  li.web-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }
}
