@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600)');
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: 'Montserrat', sans-serif;
}
/* Heading */
h1 {
  font-size: 30px;
  line-height: 38px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

.pxl {
  font-size: 16px;
  line-height: 26px;
}

.pl {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

p, .p {
  font-size: 14px;
  line-height: 22px;
}

.ps {
  font-size: 12px;
  line-height: 20px;
}

h1, h2, h3, h4, h5 {
  color: #0B2B78;
  font-family: Georgia, serif;
}

/* Buttons */
button, .btn {
  border: none;
}

.btn {
  border-radius: 24px;
  padding: 10px 40px;
  font-weight: 600;
}

.btn-sm {
  border-radius: 24px;
  padding: 10px;
  font-weight: 600;
}

.btn-primary {
  background-color: #0D3FBB;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0B2B78;
}

.btn-secondary {
  border: 1px solid #0D3FB8;
  color: #0D3FB8;
  background-color: #FFF;
}

.btn-secondary:hover {
  border: 1px solid #0D3FB8;
  color: #0B2B78;
}

.btn-inactive {
  background-color: #DDD;
  color: #585858;
  border: 1px solid #7E7E7E;
}

.btn-selected {
  border: 1px solid #7E7E7E;
  height: 45px;
  background-color:  #fff;
  border-radius: 5px;
  padding: 10px 40px;
}

/*Button Selected Effect*/
.button-container {
  display: block;
  position: relative;
  margin: 20px auto;
  height: auto;
  width: 60%;
}

.button-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.button-container ul li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.button-container ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.button-container ul li input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

.button-container ul li label {
  display: block;
  position: relative;
  padding: 15px 25px 15px 60px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  text-align: left;
  margin: 0;
  border: 1px solid #7E7E7E;
  border-radius: 4px;
}

ul li .check {
  display: block;
  position: absolute;
  border: 1px solid #7E7E7E;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

input[type=radio] ~ .check {
  border-radius: 100%;
}

input[type=checkbox] ~ .check {
  border-radius: 4px;
}

input[type=radio] ~ .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=checkbox] ~ .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 4px;
  height: 18px;
  width: 18px;
  top: 0;
  left: 0;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check::before {
  background: #0D3FB8;
}

input[type=checkbox]:checked ~ .check::before {
  background: #0D3FB8;
  content: '\2714';
  color: #FFF;
}

.button-container input[type=radio]:checked ~ label {
  background-color: #D9F2F8;
  z-index: 0;
}

.button-container input[type=checkbox]:checked ~ label {
  background-color: #D9F2F8;
  z-index: 0;
}

.button-highlight {
  background-color: #D9F2F8;
}

/* Links */
.navbar-default .navbar-nav > li > a {
  color: #333;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #585858;
}

.btn-primary a {
  color: #fff;
}

.link {
  color: #0D3FB8;
  font-weight: 600;
}

.link:hover {
  color: #0B2B78;
}

/*Images*/
.sec-illustration {
  width: 80px;
}

@media only screen and (min-width : 768px) {
  .h1, h1 {
    font-size: 36px;
    line-height: 45px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }

  h4 {
    font-size: 22px;
    line-height: 32px;
  }

  h5 {
    font-size: 19px;
    line-height: 28px;
  }

  .pxl {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width : 992px) {
  .h1, h1 {
    font-size: 42px;
    line-height: 54px;
  }

  h2 {
    font-size: 34px;
    line-height: 42px;
  }

  h3 {
    font-size: 30px;
    line-height: 38px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
  }

  h5, .pxl {
    font-size: 20px;
    line-height: 30px;
  }

  .pl {
    font-size: 18px;
    line-height: 26px;
  }

  p, .p {
    font-size: 16px;
    line-height: 24px;
  }

  .ps {
    font-size: 14px;
    line-height: 22px;
  }

  .pxs {
    font-size: 12px;
    line-height: 20px;
  }
}
