<!--<p>
  topic works!
</p>-->
<!--<div><h2>{{cntresult.heading}}</h2></div>
<div><h4>{{cntresult.content}}</h4></div>
<div><h3>{{cntresult.link}}</h3></div>-->
<!--<!DOCTYPE html>-->
<!--<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
    <h2>{{cntresult.heading}}</h2>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Overview</h3>
        <p>{{cntresult.content}}</p>

      </div>
      <div class="col-sm-4">
        <h3>Articles</h3>

      </div>
      <div class="col-sm-4">
        <h3>Videos</h3>

      </div>
    </div>
  </div>

</body>
</html>-->
<!--<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h2>{{cntresult.heading}}</h2>
    <div class="well well-sm"> {{cntresult.content}}</div>
    <div class="well">{{cntresult.articles}}</div>
    <div class="well well-lg">{{cntresult.videos}}</div>
    <div class="well well-lg">{{cntresult.forms}}</div>
  </div>

</body>
</html>-->


<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
    <h2>{{cntresult.heading}}</h2>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">Overview</div>
        <div class="panel-body">{{cntresult.content}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Articles</div>
        <div class="panel-body">{{cntresult.articles}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Videos</div>
        <div class="panel-body">{{cntresult.videos}}</div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Forms</div>
        <div class="panel-body">{{cntresult.forms}}</div>
      </div>
    </div>
  </div>

</body>
</html>
