<div class="container fluid">
  <h3>Topics &amp; Resources</h3>
  <p>Browse articles, videos, and directories organized by topic</p>
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12" style="padding-left:0;">
      <div class="row center-align">
        <app-topics [topicLength]="topicLength"></app-topics>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
       <app-guided-assistant-sidebar></app-guided-assistant-sidebar>
       <app-service-org-sidebar></app-service-org-sidebar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-3 col-sm-12 text-center">
      <button type="button" class="btn btn-primary">See More Topics</button>
    </div>
  </div>
</div>
