<!--<div *ngFor="let topic of topics | slice: 0:topicLength" class="col-md-4 col-sm-6 col-xs-6 text-center topic-list">
  <img style="width: 100%; height: 135px;" [src]='topic.image' [alt]='topic.title'><br/>
  <a [href]='topic.url'>{{topic.title}}</a>
</div>-->



<div *ngFor="let topic of result;" style="margin-bottom: 40px; padding-left:0;" class="col-md-4 col-sm-6 col-xs-6 text-center">

  <!--<img style="width: 100%; height: 135px;" [src]='topic.image' [alt]='topic.url'><br />  <a [href]='topic.url'>{{topic.title}}</a>-->
  <a><img src="{{ topic.image }}"></a>

  <h5><a [routerLink]="['/topics', topic.title]">{{ topic.title }}</a></h5>

</div>



