<div class="row" *ngIf="showForms==true">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default forms_grp">
                <div class="panel-heading forms_heading" id="timeline">
                    <h1 class="panel-title forms" style="font-size:30px">

                        FORMS/STEPS


                    </h1>
                </div>
                <div id="collapseOne" class="panel-collapse">
                    <div class="panel-body forms_body">
                        <section class="resources_content timeline-padding no-padding" style="margin-left:-25px">


                            <div class="container-fluid bg-light-grey m-bottom-30">
                                <div class="container">
                                    <div class="row save-progress">
                                        <div class="col-md-8 ">
                                            <h2 class="no-margin"><i class="fa fa-download" aria-hidden="true"></i> Save your progress/process</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="overflow-x:hidden;word-wrap:break-word">
                                <div class="container-fluid">
                                    <div class="timeline m-left-30">

                                        <div class="line text-muted"></div>

                                        <article class="panel panel-outline" *ngFor="let prc of processes; let i = index">

                                            <div class="panel-heading icon grey ">
                                                <p class="text-center">Step</p>
                                                <p class="text-center">{{prc.id}}</p>
                                            </div>

                                            <div class="panel-body opsty-5 chat-forms" [ngClass]="[prc.class]">
                                                <h3>{{prc.title}}</h3>
                                                <p innerHtml="{{prc.desc}}">
                                                </p>
                                                <div class="video-responsive" *ngIf="prc.class=='video'">
                                                    <iframe id="ifPlayer" width="420" height="315" [src]=prc.url frameborder="0" allowfullscreen ></iframe>
                                                </div>

                                                </div>

                                        </article>





                                    </div>
                                    <br />
                                    <button class="pull-right btn btn-resources btn-resources-save m-left-10 text-uppercase m-r-49 tml-save" data-toggle="modal" data-target="#myModal" type="button"><i class="fa fa-floppy-o" aria-hidden="true" tml-save></i> Save</button>
                                    <br />

                                </div>
                            </div>

                            <div class="modal fade timeline-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-top" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="modal-body text-center p-left-20 p-right-20 p-top-20">
                                            <h2>To pick up where you left off, you have two options:</h2>

                                            <p>Save this User ID Number. When you are ready to return, come back to our website, click on "Returning User" on the navigation bar above, and enter it into the User ID space.</p>
                                            <p class="m-top-15">
                                                <strong>USER ID</strong><br />
                                                <strong>12345</strong>
                                            </p>
                                            <p class="m-top-15"><strong>OR</strong></p>
                                            <p>Enter in your email address to get a special link sent directly to your inbox.</p>
                                            <div class="input-group col-md-8 col-md-offset-2 timeline-browse m-top-20 m-bottom-10">
                                                <input type="text" placeholder="Enter Your Email" class="form-control">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Send Link
                                                    </span>
                                                </label>

                                            </div>

                                            <p>We will never store any of your personal information.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!--<div class="row" *ngIf="showForms==true">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default forms_grp">
                <div class="panel-heading forms_heading" id="timeline">
                    <h1 class="panel-title forms">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" [attr.aria-expanded]=aClicked>
                            FORMS/STEPS
                        </a>

                    </h1>
                </div>
                <div id="collapseOne" class="panel-collapse" [ngClass]="[collapsed]">
                    <div class="panel-body forms_body">
                        <section class="resources_content timeline-padding no-padding" style="margin-left:-25px">

                            <div class="container-fluid bg-light-grey m-bottom-30">

                                <div class="row save-progress">
                                    <div class="col-md-8 m-bottom-20 m-top-20">
                                        <h2 class="no-margin"><i class="fa fa-download" aria-hidden="true"></i> Save your progress/process</h2>
                                    </div>
                                </div>

                            </div>

                            <div style="overflow-y: scroll;overflow-x:hidden;height: 400px; min-height: 300px;">
                                <div class="container">
                                    <div class="timeline m-left-30">
                                        
                                        <div class="line text-muted"></div>
                                        
                                        <article class="panel panel-outline" *ngFor="let prc of processes; let i = index">
                                            
                                            <div class="panel-heading icon grey">
                                                <p class="text-center">Step</p>
                                                <p class="text-center">{{prc.id}}</p>
                                            </div>
                                            
                                            
                                            <div class="panel-body opsty-5" [ngClass]="[prc.class]">
                                                <h3>{{prc.title}}</h3>
                                                <p innerHtml="{{prc.desc}}">
                                                </p>

                                            </div>
                                            
                                        </article>
                                        




                                    </div>
                                    <br />
                                    <button class="pull-right btn btn-resources btn-resources-save m-left-10 text-uppercase m-r-49 tml-save" data-toggle="modal" data-target="#myModal" type="button"><i class="fa fa-floppy-o" aria-hidden="true" tml-save></i> Save</button>
                                    <br />
                                    
                                </div>
                            </div>
                            
                            <div class="modal fade timeline-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-top" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </div>
                                        <div class="modal-body text-center p-left-20 p-right-20 p-top-20">
                                            <h2>To pick up where you left off, you have two options:</h2>

                                            <p>Save this User ID Number. When you are ready to return, come back to our website, click on "Returning User" on the navigation bar above, and enter it into the User ID space.</p>
                                            <p class="m-top-15">
                                                <strong>USER ID</strong><br />
                                                <strong>12345</strong>
                                            </p>
                                            <p class="m-top-15"><strong>OR</strong></p>
                                            <p>Enter in your email address to get a special link sent directly to your inbox.</p>
                                            <div class="input-group col-md-8 col-md-offset-2 timeline-browse m-top-20 m-bottom-10">
                                                <input type="text" placeholder="Enter Your Email" class="form-control">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Send Link
                                                    </span>
                                                </label>

                                            </div>

                                            <p>We will never store any of your personal information.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>-->