<div class="container rel-topics" >
    <div class="row" id="mrlTopics">
        <h1>Most Related Topics Based on Your Search</h1>
        <p class="m-top-20">
    </div>
        
         <div class="m-top-40">
                <div class="col-md-12">

                    <div class="carousel slide" id="carousel-tilenav" data-ride="carousel" data-pause="hover" data-wrap="true" data-interval="false">
                        <div class="carousel-inner">
                             <div class="item" *ngFor="let itm of items; let i = index"  [ngClass]="items[i].class">
                                <div calss="row">
                                    <div class="col-md-3 col-xs-12" *ngFor="let res of items[i].Resources; let j = index">
                                        <div class="topics-box">
                                            <div class="header-img">
                                                <h3>{{items[i].Resources[j].header}}</h3>

                                            </div>
                                            <div class="box-para" innerHtml="{{items[i].Resources[j].body}}">
                                                
                                            </div>
                                            <!--<div *ngIf="items[i].Resources[j].type!='Title'">
                                                <h4>{{items[i].Resources[j].type}}</h4>  <span>{{items[i].Resources[j].typeText}}</span>
                                            </div>-->
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                        <a class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>

                </div><!--col-md-12-->
            </div>

        <div class="m-top-85"  id="forms_steps">
            <div class="row m-top-46">
                <div class="col-xs-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default forms_grp">
                            <div class="panel-heading forms_heading" id="timeline">
                                <h1 class="panel-title forms">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" [attr.aria-expanded]=aClicked>
                                        FORMS/STEPS
                                    </a>
                                    
                                </h1>
                            </div>
                            <div id="collapseOne" class="panel-collapse" [ngClass]="[collapsed]">
                                <div class="panel-body forms_body">
                                    <section class="resources_content timeline-padding no-padding" style="margin-left:-25px">

                                        <div class="container">
                                            <p class="title-resources">Title for Information and Resources | Restraining Order</p>
                                        </div>
                                        <div class="container-fluid bg-light-grey m-bottom-30">
                                            <div class="container">
                                                <div class="row save-progress">
                                                    <div class="col-md-8 m-bottom-20 m-top-20">
                                                        <h2 class="no-margin"><i class="fa fa-download" aria-hidden="true"></i> Save your progress/process</h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div *ngIf="hasData==true" style="overflow-y: scroll;overflow-x:hidden;height: 400px; min-height: 300px;">
                                        <div class="container">
                                            <div class="timeline m-left-30">
                                                <!-- Line component -->
                                                <div class="line text-muted"></div>
                                                <!-- Panel -->
                                                <article class="panel panel-outline" *ngFor="let prc of processes; let i = index">
                                                    <!-- Icon -->
                                                    <div class="panel-heading icon grey">
                                                        <p class="text-center">Step</p>
                                                        <p class="text-center">{{prc.id}}</p>
                                                    </div>
                                                    <!-- /Icon -->
                                                    <!-- Body -->
                                                    <div class="panel-body opsty-5">
                                                        <h3>{{prc.title}}</h3>
                                                        <div class="col-md-11" innerHtml="{{prc.desc}}">
                                                            <!--<a href="{{prc.desc}}" target="_blank"  *ngIf="prc.title==='Url'">{{prc.desc}}</a>
                                                            <p *ngIf="prc.title!=='Url'">{{prc.desc}}</p>-->
                                                        </div>

                                                    </div>
                                                    <!-- /Body -->
                                                </article>
                                                <!-- /Panel -->

                                                <button class="pull-right btn btn-resources btn-resources-save m-left-10 text-uppercase m-r-49 tml-save" data-toggle="modal" data-target="#myModal" type="button"><i class="fa fa-floppy-o" aria-hidden="true" tml-save></i> Save</button>


                                            </div>
                                            <!-- /Timeline -->
                                        </div>
                                            </div>
                                        <!-- Modal -->
                                        <div class="modal fade timeline-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-top" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                    </div>
                                                    <div class="modal-body text-center p-left-20 p-right-20 p-top-20">
                                                        <h2>USER ID</h2>
                                                        <p class="m-top-15"><strong>12345</strong></p>
                                                        <p>This userid is being generated for the sole purpose of allowing you to return to the same step in the process where you left off. We are not retaining any of your personal or specific information.</p>
                                                        <p class="m-top-15"><strong>OR</strong></p>
                                                        <div class="input-group col-md-8 col-md-offset-2 timeline-browse m-top-20 m-bottom-10">
                                                            <input type="text" placeholder="Enter Your Email" class="form-control">
                                                            <label class="input-group-btn">
                                                                <span class="btn btn-primary">
                                                                    Send Link
                                                                </span>
                                                            </label>

                                                        </div>

                                                        <p>This userid is being generated for the sole purpose of allowing you to return to the same step in the process where you left off. We are not retaining any of your personal or specific information.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="m-top-85" id="subCat">
            <h1>Links To Sub-Categories of This Category</h1>
            <div class="row m-top-46">
                <div class="col-xs-12 tagBadges">
                    <span class="tag-badge" *ngFor="let link of SubCat" [ngClass]="{'activeBadge': aciveBdg==link.name}" id={{link.name}} (click)="displayText(link.name)">{{link.name}}</span>

                </div>
            </div>
        </div>

    

    </div>
    
