<div *ngIf="showMrs==true">
    <div class="row" id="mrlTopics">
        <h1>Resources Related to Your Search</h1>
        <p class="m-top-20">
    </div>

    <div class="m-top-40">
        <div class="col-md-12">

            <div class="carousel slide" id="carousel-tilenav" data-ride="carousel" data-pause="hover" data-wrap="true" data-interval="false">
                <div class="carousel-inner">
                    <div class="item" *ngFor="let itm of items; let i = index" [ngClass]="items[i].class">
                        <div calss="row">
                            <div class="col-md-3 col-xs-12" *ngFor="let res of items[i].Resources; let j = index">
                                <div class="topics-box">
                                    <div class="header-img">
                                        <h3>{{items[i].Resources[j].header}}</h3>

                                    </div>
                                    <div class="box-para" innerHtml="{{items[i].Resources[j].body}}">

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <a class="left carousel-control" href="#carousel-tilenav" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#carousel-tilenav" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>

        </div><!--col-md-12-->
    </div>

</div>