<?xml version="1.0" encoding="utf-8"?>
<configuration>
   
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SourceConnectionString" value="ContentsDb_AK" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
      <add name="StateBasedContentsDb" connectionString="data source=localhost;initial catalog=StateBasedContentsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
 
    <!--<add name="CrowledContentsDb" connectionString="data source=localhost;initial catalog=CrawledContentDataAccess.CrowledContentsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
   <add name="CrowledContentsDb_AL" connectionString="data source=localhost;initial catalog=CrawledContentDataAccess.CrowledContentsDb_AL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  <!--<add name="ContentsDb_AK" connectionString="data source=localhost;initial catalog=ContentDataAccess.ContentsDb_AK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--  <add name="ContentsDb_AL" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AL;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>-->
    <add name="ContentsDb_AK" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_Test" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_Test;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK1" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK1;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />

    <!--Localized content for AK state-->
    <add name="ContentsDb_AK_zh-CHS" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_zh-CHS;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_fil" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_fil;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_fr" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_fr;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_hi" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_hi;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_ko" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_ko;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_sk" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_sk;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_ty" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_ty;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_ta" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_ta;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_th" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_th;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_AK_ur" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK_ur;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />

    
    <add name="ContentsDb_WA" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_WA;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="ContentsDb_HI" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_HI;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />
    <add name="PlatformCoreDb" connectionString="Data Source=msfta2j.database.windows.net;initial catalog=PlatformCoreDb;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>