li a {
  padding: 10px;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  font-size: 11px;
}

li:last-child a {
  border-bottom: none;
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filter {
  background: #f4f4f4;
  padding: 10px 15px 5px 15px;
  margin: 0;
  height: 96px;
}

.filter-type .p, .sort-type .p {
  float: left;
}

.filter-type .p {
  width: 60px;
}

.sort-type .btn-group {
  display: block;
}

.sort-type .p {
  width: 60px;
}

.dropdown-btn:after {
  border: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.open .dropdown-btn {
  border-radius: 5px 5px 0 0;
}

#button-basic {
  margin-bottom: 0;
  margin-right: 0;
  text-align: left;
  width: 145px;
  font-size: 11px;
  background-size: 13px;
  background-position: 90% 50%;
}

.dropdown-menu {
  border: 1px solid #7e7e7e;
  border-radius: 0 0 5px 5px;
  width: 145px;
  top: 86% !important;
  border-top: 1px solid #ddd;
  padding: 0;
  min-width: 145px;
}

.dropdown-menu.show {
  top: 93% !important;
}

.btn {
  margin: 0;
}

.btn-selected {
  padding: 10px;
}

.desktop-filter {
  display: none;
}

.sort-type {
  float: right;
}

.mobile-filter button {
  min-width: 100px;
}

.btn.active {
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .filter-type .p, .sort-type .p {
    display: inline-block;
  }

  .filter {
    padding: 25px 15px 25px 15px;
  }

  .sort-type .btn-group {
    display: inline-block;
  }
}

@media only screen and (min-width: 992px) {
  li a {
    padding: 7px 20px;
    font-size: 16px;
  }

  .btn-selected {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 40px;
  }

  #button-basic {
    width: 215px;
    font-size: 16px;
    background-size: 15px;
    padding: 10px 20px;
  }

  .dropdown-menu {
    width: 215px;
  }

  .desktop-filter {
    display: block;
  }

  .mobile-filter {
    display: none;
  }

  .btn.active {
    background-color: #d9f2f8;
  }

  .sort-type .p {
    width: 45px;
  }
}
