<!--todo filters place start write-->
<!--<div class="row mainBlock">-->
  <!--<div class="col-12">-->
    <!--дрочильня с фильтрами-->
  <!--</div>-->
<!--</div>-->
<div class="row">
  <div class="col-sm-12">
    <div *ngFor="let resource of incomingResources">
      <app-resource-card
        [searchResource]="resource"
        [sharedResources]="true"
        [sharedToResources]="false"
        [personalizedResources]="incomingResources"
        [showRemoveOption]="true"
      >
      </app-resource-card>
    </div>
    <app-action-plans
      [planDetails]="planDetails"
      [showUnshareOption]="false"
      [showRemoveOption]="true"
      [showDropDown]="true"
      [isIncomingResource]="true"
    >
    </app-action-plans>
  </div>
</div>
