<div class="row">
  <div class="col-md-12" id="about-img">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Our Mission</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eveniet beatae nam voluptatibus distinctio veritatis vel saepe nulla eum suscipit necessitatibus quae labore, quisquam ad, eius officia! Commodi, sapiente perferendis! Atque vitae natus quasi at culpa porro fugit eum laboriosam id earum quibusdam, explicabo nisi mollitia saepe tempora praesentium in sunt, exercitationem error, magni ratione ipsa numquam debitis consequatur. Repellendus asperiores dolor, quidem perspiciatis sapiente tenetur provident dolorem accusamus quibusdam eveniet placeat officiis, quod fugiat ullam minima rem. Molestias, quos inventore accusamus eligendi culpa necessitatibus rerum nostrum aspernatur eaque explicabo voluptatem architecto esse, debitis non earum autem, ipsam modi sit!</p>
    </div>
    <div class="col-md-6 section-img pull-right"></div>
  </div>
  <div class="row">
    <div class="col-md-6 pull-right">
      <h3>Our Service</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dicta illo rerum voluptatibus magni molestias officiis totam minima ab quas quae dolorem aut laboriosam expedita atque dignissimos, sed maxime ratione consequatur optio nobis odit repellendus quos dolore! Sunt atque accusantium praesentium, culpa hic enim voluptas suscipit cumque odit deleniti animi reiciendis perspiciatis magnam exercitationem minus? Itaque exercitationem nostrum dignissimos eum tempore magnam, quasi alias voluptas sequi facere voluptate aperiam porro.</p>
      <button class="btn btn-default"><a href="#">Use our Guided Assistant</a></button>
      <button class="btn btn-default"><a href="#">Browse Topics &amp; Resources</a></button>
    </div>
    <div class="col-md-6 section-img pull-left"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Our Privacy Promise</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, nulla!</p>
      <button class="btn btn-default"><a href="#">View our privacy promise</a></button>
    </div>
    <div class="col-md-6 section-img pull-right"></div>
  </div>
</div>