h3 {
  margin-top: 0;
}

button {
  margin: 15px 15px 15px 0;
}

#about ul li {
  list-style: disc !important;
}

.section-img img {
  width: 100%;
  max-height: 400px;
  margin-bottom: 10px;
  max-width: 550px;
}

.even-rows {
  float: left;
}

.media-object {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.box-no-shadow {
  padding: 20px;
  margin-bottom: 20px;
}

.sponsor-logo {
  max-height: 90px;
}

.sponsors {
  height: 90px;
}

.browse-topic {
  margin-left: 0;
}

.col-sm-4 {
  margin-bottom: 40px;
}

.in-the-news {
  text-align: left;
}

.contacts div{
  padding-bottom: 40px;
}

@media only screen and (min-width: 540px) {
  .browse-topic {
    margin-left: 2%;
  }
}

@media only screen and (min-width: 768px) {
  .in-the-news {
    text-align: center;
  }

  .contact div {
    padding-bottom: 0;
  }

  .contacts div:first-child {
    padding-right: 15px;
  }

  .contacts div:last-child {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .row {
    margin: 60px auto;
  }

  .section-img {
    width: 45%;
  }

  .section-img img {
    margin-top: 0;
    margin-bottom: 0;
  }

  .even-rows {
    padding-left: 5%;
    float: right;
  }

  .media-object {
    height: 120px;
    width: 120px;
    padding: 10px;
  }

  .contacts div:first-child {
    padding-right: 0;
  }

  .contacts div:last-child {
    padding-left: 0;
  }
}
