h3 {
  margin-top: 0;
}

button {
  margin: 15px 15px 15px 0;
}

#about-img {
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
}

.section-img {
  background-color: #f2f2f2;
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.even-rows {
  margin-top: 30px;
}

.even-rows + div {
  margin-bottom: 30px;
}

p + .btn-sm {
  margin-right: 20px;
}

@media only screen and (min-width : 992px) {
  .row {
    margin: 40px auto;
  }

  .section-img {
    margin-top: 50px;
    width: 45%;
  }

  .even-rows {
    padding-left: 5%;
  }
}
