#wrapper {
  height: 300px;
  text-align: center;
  background-color: #f4f4f4;
  padding-top: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  height: 40%;
  font-size: 10em;
  text-align: center;
  font-weight: 600;
}

@media only screen and (min-width : 768px) {
  #wrapper {
    height: 400px;
  }
}
