.navbar-form {
  cursor: pointer;
  padding-right: 0;
  margin-top: 0;
}

.search-icon {
  width: 20px;
  margin-bottom: 1px;
}

#search {
  width: 82%;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-top: 3px;
}

.form-group {
  margin-top: 5px;
}

.form-group>button {
  border: none;
  background-color: #fff;
  margin-right: 20px;
}

@media only screen and (min-width : 768px) {
  #search {
     width: 180px;
  }
}

@media only screen and (min-width : 992px) {
  .navbar-form {
    margin-top: 8px;
  }
}