.navbar-form {
  cursor: pointer;
  padding-right: 0;
  margin-top: 13px;
}

.search-icon {
  width: 20px;
  margin-right: 9px;
  margin-bottom: 1px;
}

#search {
  width: 85%;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-top: 3px;
}

.form-group>button {
  border: none;
  background-color: #fff;
}

@media only screen and (min-width : 768px) {
  #search {
     width: 180px;
  }
}
