.user-action {
  background-color: #fff;
  margin: 20px 0;
}

.row-half-spacing {
  margin: 20px auto;
}

.page-heading {
  display: inline-block;
  margin-left: 20px;
}

.mobile-action {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  .user-action {
    float: right;
  }

  .filter-plan button {
    margin: 0 10px 10px 10px;
  }

  .plan-spacing {
    padding: 15px;
  }

  .step-content {
    margin-left: 33px;
    padding-right: 35px;
  }
}

@media only screen and (min-width : 992px) {
  .plan-spacing {
    padding: 10px 30px;
  }
}
