.sidebar-block {
  margin-bottom: 40px;
  width: 100%;
  margin-top: 30px;
}

.btn-primary {
  display: block;
  max-width: 200px;
}

@media only screen and (min-width : 992px) {
  .sidebar-block {
    margin-top: 0;
  }
}
