a.btn-primary, a.btn-primary:hover {
  color: #fff;
}

.sidebar-block {
  margin-bottom: 40px;
  width: 100%;
  margin-top: 30px;
}

@media only screen and (min-width : 992px) {
  .sidebar-block {
    margin-top: 0;
  }

  .btn-primary {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media only screen and (min-width : 1224px) {
  .btn-primary {
    font-size: 16px;
  }
}
