.sidebar-block {
  margin-bottom: 40px;
  width: 100%;
  margin-top: 30px;
}

.btn-primary {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  font-size: 14px;
}

@media only screen and (min-width : 992px) {
  .sidebar-block {
    margin-top: 0;
  }

  .btn-primary {
    font-size: 12px;
  }
}
