<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <typeAliases>
    <typeAlias alias="IDBAccess" type="DIContainer.IBook,DIContainer" />
    <typeAlias alias="SQLDataAccess" type="DIContainer.IBook,DIContainer" />
  </typeAliases>
  <container>
    <register type="ICrowledContentDataRepository" mapTo="CrowledContentDataRepository" />
  </container>
</unity>
