ul {
  margin-top: -10px;
}

.topic-list {
  padding: 20px 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
  height: 200px;
}

.topic-list:nth-child(2n) {
  border-right: none;
}

.topic-list a img {
  width: 90px;
  height: 70px;
  margin: 20px auto;
}

@media only screen and (min-width : 768px) {
  .topic-list {
    padding: 15px 20px;
    height: 235px;
  }

  .topic-list:hover {
    box-shadow: 0 0 5px 3px #ddd;
  }
  
  .topic-list a:hover {
    text-decoration: none;
    color: #333;
  }

  .topic-list a img {
    margin: 35px auto;
  }

  .topic-list:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(3n) {
    border-right: none;
  }
}

@media only screen and (min-width : 992px) {
  .topic-list {
    padding: 45px 20px;
    height: 290px;
  }

  .topic-list:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(3n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(4n) {
    border-right: none;
  }

  .half-size-list {
    width: 33.3333%;
    height: 200px;
    padding: 10px;
  }

  .half-size-list a img {
    margin: 40px auto 20px auto;
  }

  .half-size-list:nth-child(4n) {
    border-right: 1px solid #ddd;
  }

  .half-size-list:nth-child(3n) {
    border-right: none;
  }

  .topic-outline {
    display: block;
    padding-bottom: 20px;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 325px;
    height: 200px;
  }
}
