<ul>
  <li #topicList class="topic-list col-md-3 col-sm-4 col-xs-6 text-center" [ngClass]="{ 'half-size-list': !fullPage, '': fullPage }" *ngFor="let topic of topics | slice: 0:topicLength">
    <a *ngIf="topic.icon; else elseblock" [routerLink]="['/topics', topic.id]">
      <img src="{{ topic.icon }}" alt="{{topic.name}}">
      <p [ngClass]="{ 'ps': !fullPage, 'p': fullPage }">{{ topic.name }}</p>
    </a>

    <ng-template #elseblock>
      <a [routerLink]="['/topics', topic.id]">
        <img src="./assets/images/categories/topic.svg" alt="{{topic.name}}">
        <p [ngClass]="{ 'ps': !fullPage, 'p': fullPage }">{{ topic.name }}</p>
      </a>
    </ng-template>
  </li>
</ul>
