.topic-list {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
  height: 175px;
}

.topic-list:nth-child(2n) {
  border-right: none;
}

.topic-list:nth-last-child(-n+2) {
  border-bottom: none;
}

.topic-list a:hover {
  text-decoration: none;
  color: #333;
}

  .topic-list:hover {
    box-shadow: 0 0 5px 3px #ddd;
  }

.topic-list a img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

@media only screen and (min-width : 768px) {
  .topic-list:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(3n) {
    border-right: none;
  }

  .topic-list:nth-last-child(-n+3) {
    border-bottom: none;
  }
}

@media only screen and (min-width : 992px) {
  .topic-list {
     padding: 15px;
  }

  .topic-list:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(3n) {
    border-right: 1px solid #ddd;
  }

  .topic-list:nth-child(4n) {
    border-right: none;
  }

  .topic-list:nth-last-child(-n+4) {
    border-bottom: none;
  }
}
