ul {
  margin-top: -10px;
}

li {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
  height: 200px;
}

a, a:hover {
  color: #333;
  font-weight: 400;
}

li:nth-child(2n) {
  border-right: none;
}

.topic-list {
  padding: 20px 10px;
  height: 100%;
}

.topic-list img {
  width: 90px;
  height: 70px;
  margin: 20px auto;
}

@media only screen and (min-width : 768px) {
  li {
    height: 235px;
  }

  li:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  li:nth-child(3n) {
    border-right: none;
  }

  .topic-list {
    padding: 15px 20px;
  }

  .topic-list:hover {
    box-shadow: 0 0 5px 3px #ddd;
  }

  .topic-list img {
    margin: 35px auto;
  }
}

@media only screen and (min-width : 992px) {
  li {
    height: 290px;
  }

  li:nth-child(2n) {
    border-right: 1px solid #ddd;
  }

  li:nth-child(3n) {
    border-right: 1px solid #ddd;
  }

  li:nth-child(4n) {
    border-right: none;
  }

  .topic-list {
    padding: 45px 20px;
  }

  .half-size-list {
    width: 33.3333%;
    height: 265px;
  }

  .half-size-list a {
    width: 100%;
    height: 100%;
  }

  .half-size-list a img {
    margin: 40px auto 20px auto;
  }

  .half-size-list:nth-child(4n) {
    border-right: 1px solid #ddd;
  }

  .half-size-list:nth-child(3n) {
    border-right: none;
  }
}
