<div class="no-print row" id="footer">
  <ul class="footer-nav text-center">
    <li><a [routerLink]="['/' + home?.button?.buttonLink]">{{home?.button?.buttonText}}</a></li>
    <li class="vertical-line"></li>
    <li><a [routerLink]="['/' + guidedAssistant?.button?.buttonLink]">{{guidedAssistant?.button?.buttonText}}</a></li>
    <li class="vertical-line"></li>
    <li><a [routerLink]="['/' + topicAndResources?.button?.buttonLink]">{{topicAndResources?.button?.buttonText}}</a></li>
    <li class="vertical-line"></li>
    <li><a [routerLink]="['/' + about?.button?.buttonLink]">{{about?.button?.buttonText}}</a></li>
    <li class="vertical-line"></li>
    <li><a [routerLink]="['/' + privacyPromise?.button?.buttonLink]">{{privacyPromise?.button?.buttonText}}</a></li>
    <li class="vertical-line"></li>
    <li><a [routerLink]="['/'+ helpAndFAQ?.button?.buttonLink]">{{helpAndFAQ?.button?.buttonText}}</a></li>
  </ul>
</div>
