<div class="row">
  <div class="col-md-12">
    <ul class="footer-nav text-center">
      <li><a [routerLink]="['/home']">Home</a></li>
      <li class="vertical-line"></li>
      <li><a [routerLink]="['/guidedassistant']">Guided Assitant</a></li>
      <li class="vertical-line"></li>
      <li><a [routerLink]="['/topics']">Topics &amp; Resources</a></li>
      <li class="vertical-line"></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li class="vertical-line"></li>
      <li><a [routerLink]="['/privacy']">Privacy Promise</a></li>
      <li class="vertical-line"></li>
      <li><a [routerLink]="['/help']">Help &amp; FAQs</a></li>
    </ul>
  </div>
</div>
