#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  height: 10px;
  vertical-align: middle;
}

.footer-nav li {
  list-style: none;
  display: block;
}

.footer-nav li.vertical-line {
  border-bottom: 1px solid #ddd;
  width: 270px;
  margin: 0 auto;
}

.footer-nav li:nth-child(odd) {
  padding: 25px;
}

@media only screen and (min-width : 992px) {
  .footer-nav li {
    display: inline-block;
    padding: 10px 20px;
  }

  .footer-nav li.vertical-line {
    border-left: 1px solid #ccc;
    border-bottom: none;
    width: 1px;
    height: 10px;
    padding: 0;
  }
}
