<headerDiv></headerDiv>
<section id="tabcontent" *ngIf="showGuided=='true'">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="resources">
            <div class="tab-box">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Resources and Information</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row list-container" id="Slide1" [ngClass]="{'activeSlide': activeSld=='Slide1','hideSlide': activeSld!='Slide1'}">
                    <div class="col-md-6 col-md-offset-3 faq-list">
                        <div class="item guided text-center">
                            <h2 class="m-bottom-20">Guided Assistant</h2>
                            <p class="font16">We would like to make your search easier by providing a few simple steps.</p>
                            <button class="btn lp-btn-3 active m-top-40" type="button" (click)="ShowNextNavigation('Slide2','evictionnotice')">Begin</button>
                        </div>
                    </div>
                </div>

                <!--<div id={{stp.id}} class="list-container" *ngFor="let stp of steps">
                    <div class="row faq-list">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="item text-center">
                                <h4>{{stp.question}}</h4>
                                <div *ngIf="stp.type==='button'">
                                    <div class="rdo-group">
                                        <button class="btn btn-default lp-btn-4 m-right-10" type="button" data-slide="next" (click)="ShowNextNavigation(stp.id,stp.title)" href="#myCarousel" *ngFor="let btn of stp.options">{{btn.name}}</button>

                                    </div>
                                  </div>
                                <div *ngIf="stp.type==='radio'">
                                    <div class="rdo-group text-align-left">
                                        <label class="radio-inline" *ngFor="let rad of stp.options">
                                            <input type="radio"  name="rr" />
                                            <label ><span></span>{{rad.name}}</label>
                                        </label>

                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide1','begin')">Back</button>
                        <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide2','evictionnotice')">Back</button>
                        <button class="right pull-right btn lp-btn-3 active" type="button" data-slide="next" href="#myCarousel" (click)="ShowNextNavigation('Slide4','assistnotice')">Next</button>
                        <button class="right pull-right btn btn-link lnk-btn" type="button" data-slide="next" href="#myCarousel" (click)="ShowSkipNavigation('Slide4','assistnotice')">Skip</button>

                    </div>
                </div>-->

                <div id="Slide2" class="list-container" [ngClass]="{'activeSlide': activeSld=='Slide2','hideSlide': activeSld!='Slide2'}">
                    <div class="row faq-list">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="item text-center">
                                <h4>Have you received and eviction notice ?</h4>
                                <div class="rdo-group">
                                    <button class="btn btn-default lp-btn-4 m-right-10" type="button" data-slide="next" (click)="ShowNextNavigation('Slide5','housingproblem')" href="#myCarousel">No</button>

                                    <button class="btn btn-default lp-btn-4 active" type="button" data-slide="next" href="#myCarousel" (click)="ShowNextNavigation('Slide3','aboutnotice')">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide1','begin')">Back</button>

                    </div>
                </div>
                <div id="Slide3" class="list-container" [ngClass]="{'activeSlide': activeSld=='Slide3','hideSlide': activeSld!='Slide3'}">
                    <div class="row faq-list">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 faq-list">
                                <div class="item active text-center">
                                    <h4>Tell me more about your eviction notice</h4>
                                    <div class="rdo-group text-align-left">
                                        <label class="radio-inline">
                                            <input type="radio" id="radio1" name="rr" />
                                            <label for="radio1"><span></span>I need help understanding the notice</label>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radio2" name="rr" />
                                            <label for="radio2"><span></span>I need to talk to someone for assistance</label>
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radio3" name="rr" />
                                            <label for="radio3"><span></span>I have children and i cannot pay rent</label>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide2','evictionnotice')">Back</button>
                            <button class="right pull-right btn lp-btn-3 active" type="button" data-slide="next" href="#myCarousel" (click)="ShowNextNavigation('Slide4','assistnotice')">Next</button>
                            <button class="right pull-right btn btn-link lnk-btn" type="button" data-slide="next" href="#myCarousel" (click)="ShowSkipNavigation('Slide4','assistnotice')">Skip</button>
                        </div>

                    </div>
                </div>

                <div id="Slide4" class="list-container" [ngClass]="{'activeSlide': activeSld=='Slide4','hideSlide': activeSld!='Slide4'}">
                    <div class="row faq-list">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="item active text-center">
                                <h4>How can i assist you with your notice?</h4>
                                <div class="rdo-group text-align-left">
                                    <label class="radio-inline">
                                        <input type="radio" id="radio4" name="scan" />
                                        <label for="radio4"><span></span>Scan your notice ?</label>
                                        <input type="radio" id="radio5" name="scan" />
                                        <label for="radio5"><span></span>Chat with representative</label>
                                        <input type="radio" id="radio6" name="scan" />
                                        <label for="radio6"><span></span>Call the eviction hotline</label>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide3','aboutnotice')">Back</button>
                        <a class="right pull-right btn lp-btn-3 active" type="button" (click)="redirectToForms()">Next</a>
                        <!--<button class="right pull-right btn btn-link lnk-btn" type="button" data-slide="next" href="#myCarousel" onclick="return false;">Skip</button>-->
                    </div>
                </div>

                <div id="Slide5" class="list-container" [ngClass]="{'activeSlide': activeSld=='Slide5','hideSlide': activeSld!='Slide5'}">
                    <div class="row faq-list">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="item active text-center">
                                    <h4>Which of these is your housing problem?</h4>
                                    <div class="rdo-group text-align-left">
                                        <label class="radio-inline">
                                            <input type="radio" id="radio7" name="rr" />
                                            <label for="radio7"><span></span>My rental is in poor condition</label>
                                            <input type="radio" id="radio8" name="rr" />
                                            <label for="radio8"><span></span>My land lord is abusive</label>
                                            <input type="radio" id="radio9" name="rr" />
                                            <label for="radio9"><span></span>I have dispute with my neighbour</label>
                                            <input type="radio" id="radio10" name="rr" />
                                            <label for="radio10"><span></span>My landlord has raised my rent</label>
                                            <input type="radio" id="radio11" name="rr" />
                                            <label for="radio11">
                                                <span></span>My land lord has changed the rental rules
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button class="left btn btn-link lnk-btn-back" type="button" data-slide="prev" href="#myCarousel" (click)="ShowNextNavigation('Slide2','evictionnotice')">Back</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="resources_content" id="Downsection">
    <div class="mrsHeight">
        <mrs></mrs>
    </div>
    <footerDiv></footerDiv>
</section>

<!--<section class="resources_content2" id="Upsection"  [ngClass]="{'activeSlide': myClass=='up','hideSlide': myClass=='down'}">
    <div class="arrow-up-down">
        <a (click)="ValidateContent('down');"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
    </div>
</section>-->
