<form
  #searchForm="ngForm"
  (ngSubmit)="onSubmit(searchForm)"
  aria-label="search box"
>
  <div>
    <input
      autofocus
      type="text"
      name="inputText"
      aria-label="search text box"
      value="text"
      id="search"
      autocomplete="off"
      [(ngModel)]="inputText"
    />
    <button id="search-phrase-button" type="submit" aria-label="search button">
      <img
        class="search-icon"
        src="/assets/images/small-icons/search.svg"
        aria-hidden="true"
      />
    </button>
  </div>
  <div class="searchBlock"
  >
    <div *ngFor="let suggestion of mock.suggestions">
      <div>{{suggestion}}</div>
    </div>
    <div *ngIf="mock.resources">
      <div>Articles</div>
      <div *ngFor="let suggestion of mock.resources">

      </div>
    </div>
  </div>
</form>
