<div class="bg-image-full">
    <div class="home-search-content snippet_cntn">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Bing</h1>
                    <!--<p>Consectetur adipiscing elit, sed do tempor labo</p>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 home-search-input-group">
                    <div class="input-group snippet_inp_grp">
                        <input [(ngModel)]="searchText" type="text" id="searchText" class="form-control search_txt" placeholder="Search for...">

                    </div>
                </div>
            </div>
            <div class="row snippet">
                <div class="col-lg-12 col-md-12 home-search-input-group">
                    <div class="topics-box height-topics-box">

                        <div class="snippet_ol">
                            <ol>
                                <li>Live on Cash for 2 Weeks. ...</li>
                                <li>Increase Your Spending Awareness. ...</li>
                                <li>Find Out Where Your Money Goes - Track Your Spending for 2 Weeks. ...</li>
                                <li>Create a Spending Plan or a Budget to Solve and Prevent Financial Problems. ...</li>
                                <li>Find a Replacement for One Large Expense in Your Monthly Budget. ...</li>
                                <li>Identify Expenses You Can Reduce.</li>
                            </ol>
                        </div>
                        <a routerLink="/general"><h4>Legal Assist</h4></a>
                        <span>www.home.html</span>
                    </div>
                </div>
            </div>

            <div class="row snippet">
                <div class="col-lg-12 col-md-12 home-search-input-group">
                    <div class="topics-box height-topics-box">

                        <div class="snippet_1">People also ask</div>
                        <hr />

                        <div class="link"><a href="home.html">How long do you have to move out after an eviction notice?</a></div>

                        <hr />

                        <div class="link"><a href="home.html">Can a landlord evict me?  </a></div>

                        <hr />

                        <div class="link"><a href="home.html">How long does it take for a landlord to evict a tenant?</a></div>

                        <hr />

                        <div class="link"><a href="home.html">Can you reschedule a court date for eviction ?</a></div>

                        <hr />
                        <div class="link"><a href="home.html">How does an eviction work?</a></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>