<div class="home-search-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <h1>Bing</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-4 col-xs-12 home-search-input-group hidden-xs">
                <div class="input-group">
                    <div ng2-auto-complete [source]="arrayOfStrings" (valueChanged)="valueChanged($event)" placeholder="enter text">
                        <input [ngModel]="model1" class="form-control search_txt" placeholder="Search for..." (keyup.enter)="redirect()" />
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-secondary lp-btn search_btn" type="button" (click)="redirect()">Search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-4 col-xs-12 home-search-input-group hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <div ng2-auto-complete [source]="arrayOfStrings" (valueChanged)="valueChanged($event)" placeholder="enter text">

                        <input [ngModel]="model1" class="form-control search_txt" placeholder="Search for..." (keyup.enter)="redirect()" />
                    </div>

                </div>
                <div class="input-group-btn">
                    <button class="btn btn-secondary lp-btn search_btn" type="button" (click)="redirect()">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>