ul {
  font-size: 16px;
}

ul li {
  font-size: 14px;
}

.plan-heading {
  border-bottom: 1px solid #ddd;
}

.plan-spacing {
  padding: 10px;
}

.main-icon {
  margin-top: 10px;
}

.subtopic-icon {
  width: 45px;
}

.more-menu {
	margin-top: 30px;
	width: 30px;
	cursor: pointer;
}

.plan-steps .btn-selected {
	padding: 10px;
	width: 120px;
	float: right;
	margin-top: -5px;
}

.quick-links {
	margin-top: 0;
	padding-top: 0;
	font-weight: 600;
	padding: 20px 10px 20px 20px;
}

.quick-links li {
	padding: 10px 0;
}

.plan-steps {
	margin: 20px 0;
	padding-right: 20px;
}

.media-body h3 {
	margin-top: -3px;
	margin-bottom: 30px;
}

#complete-btn {
	float: left;
	margin-bottom: 30px;
  position: absolute;
  left: 0;
  top: -15px;
}

.step-content div {
  margin-bottom: 20px;
  margin-top: 30px;
}

.step-content div ul li {
  padding: 5px 0;
}

iframe {
  width: 100%;
  height: 325px;
}

.resource-video iframe {
  width: 100%;
  height: 250px;
}

.media-object {
  width: 50px;
  margin: 5px;
}

.text-center {
  padding: 30px;
  text-align: center;
}

.step-completed {
  color: #ccc;
}

.video-heading {
  cursor: pointer;
}

.header-completed {
  color: #ccc;
}

.accordion-img-grey {
  background-image: url('../../../../../assets/images/small-icons/open_accordion_grey.svg');
}

@media only screen and (min-width : 768px) {
  .step-content div {
    margin-top: 0;
  }

  .plan-spacing {
    padding: 15px;
  }

  .step-content {
    margin-left: 33px;
    padding-right: 35px;
  }

  #complete-btn {
    float: right;
    margin-bottom: 0;
    right: 36px;
    left: auto;
    top: -74px;
  }
}

@media only screen and (min-width : 992px) {
  .plan-spacing {
    padding: 10px 20px;
  }

  .plan-steps {
    border-left: 1.5px solid #ddd;
  }

  .quick-links {
    margin-top: 10px;
    padding-top: 20px;
  }
}
