<div class="row">
  <div class="col-sm-12">
    <ng-container *ngFor="let resource of sharedResources">
      <app-resource-card
        [searchResource]="resource"
        [sharedToResources]="true"
        [sharedResources]="true"
        [personalizedResources]="sharedResources"
        [showRemoveOption]="true"
        [showUnshareOption]="true"
      >
      </app-resource-card>
    </ng-container>
    <!-- <app-action-plans
      [planDetails]="planDetails"
      [showUnshareOption]="true"
      [showRemoveOption]="true"
      [isSharedActionPlan]="true"
      [showDropDown]="true"
    >
    </app-action-plans> -->
  </div>
</div>
