<div class="row plan-detail">
  <div class="col-xs-12 plan-spacing plan-heading">
    <div class="col-xs-11">
      <div class="main-icon col-sm-1 col-xs-2">
        <img class="subtopic-icon" src="./assets/images/categories/housing.svg" alt="eviction icon" />
      </div>
      <div class="col-sm-11 col-xs-10">
        <h3 class="inline">Eviction</h3>
      </div>
    </div>
    <div class="col-xs-1">
      <div class="btn-group" dropdown class="pull-right more-menu">
        <img id="button-basic" dropdownToggle type="button" aria-controls="dropdown-basic" src="./assets/images/small-icons/more_menu.svg" alt="plan menu" />
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <app-share-button></app-share-button>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <app-remove-button></app-remove-button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-9 col-xs-12 pull-right plan-steps">
      <accordion>
        <accordion-group>
          <div accordion-heading>
            <div class="col-sm-9 col-xs-12">
              <div class="media">
                <div class="media-left">
                  <img class="pull-left plan-icon accordion-img" src="./assets/images/small-icons/open_accordion.svg" alt="open accordion" />
                </div>
                <div class="media-body">
                  <h3>Step 1. Make sure your summon is real.</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12 btn-selected" id="complete-btn">
              <input id="checkBox" type="checkbox">
              <label class="ps">Completed</label>
            </div>
          </div>
          <div class="col-xs-12 step-content">
            <div>
              <p>
                Why you should do this dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              </p>
            </div>
            <div>
              <img src="./assets/images/small-icons/call.svg" alt="Phone number" class="nav-icon">
              <span class="p">Call the court at 1-555-555-5555</span>
            </div>
            <div>
              <ul>
                <li class="pl">If the summons is real, prepare for your court date.</li>
                <li><a href="" class="link">Set up a reminder for your court date.</a></li>
                <li><a href="" class="link">Learn more about court appearances and what to expect.</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <li class="pl">If the summons is not real, you should talk to your landlord.</li>
                <li><a href="" class="link">Set up a reminder for your court date.</a></li>
                <li><a href="" class="link">Learn more about court appearances and what to expect.</a></li>
              </ul>
            </div>
          </div>
        </accordion-group>
        <accordion-group>
            <div accordion-heading>
              <div class="col-sm-9 col-xs-12">
                <div class="media">
                  <div class="media-left">
                    <img class="pull-left plan-icon accordion-img" src="./assets/images/small-icons/open_accordion.svg" alt="open accordion" />
                  </div>
                  <div class="media-body">
                    <h3>Step 2. Even if the summons is real, try to resolve the issue with your landlord to see if you can come to an agreement.</h3>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-xs-12 btn-selected" id="complete-btn">
                <input id="checkBox" type="checkbox">
                <label class="ps">Completed</label>
              </div>
            </div>
            <div class="col-xs-12 step-content">
              <div>
                <ul>
                  <li class="pl">If you are able to resolve the issue, you still need to show up for your court date.</li>
                  <li><a href="" class="link">Learn more about court appearances and what to expect.</a></li>
                </ul>
              </div>
              <div>
                <ul>
                  <li class="pl">If you are not able to resolve the issue, you may need to prepare to move.</li>
                  <li><a href="" class="link">Organizations that can help.</a></li>
                  <li><a href="" class="link">Preparing to move.</a></li>
                </ul>
              </div>
            </div>
          </accordion-group>
      </accordion>
    </div>
    <div class="col-md-3 col-xs-12 quick-links">
      <p>Quick Links</p>
      <ul>
        <li><a href="#" class="link">Eviction Rules &amp; Regulations</a></li>
        <li><a href="#" class="link">Organizations that can help</a></li>
      </ul>
    </div>
  </div>
</div>