<div *ngIf="displaySteps">
  <div *ngFor="let planStep of planSteps">
    <div class="row box-shadow">
      <div class="col-xs-12 plan-spacing plan-heading">
        <div class="col-xs-11">
          <div class="main-icon col-sm-1 col-xs-2">
            <img class="subtopic-icon" src="./assets/images/categories/housing.svg" alt="eviction icon" />
          </div>
          <div class="col-sm-11 col-xs-10">
            <h3 class="inline">{{planStep.topicName}}</h3>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="btn-group pull-right more-menu" dropdown>
            <img id="button-basic" dropdownToggle type="button" aria-controls="dropdown-basic" src="./assets/images/small-icons/more_menu.svg" alt="plan menu" (click)="planTagOptions(planStep.topicId,template)" />
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <a class="dropdown-item" href="#">
                  <app-share-button></app-share-button>
                </a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item">
                  <app-remove-button [selectedPlanDetails]="selectedPlanDetails"></app-remove-button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="col-md-9 col-xs-12 pull-right plan-steps">
          <accordion>
            <accordion-group *ngFor="let step of planStep.stepTags">
              <div accordion-heading>
                <div class="col-sm-9 col-xs-12">
                  <div class="media">
                    <div class="media-left">
                      <img class="pull-left plan-icon accordion-img" src="./assets/images/small-icons/open_accordion.svg" alt="open accordion" />
                    </div>
                    <div class="media-body">
                      <h3>Step {{step.order}}. {{step.id.title}}</h3>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-12 btn-selected" id="complete-btn">
                  <input id="checkBox" type="checkbox" (change)="checkCompleted($event,planStep.topicId,step.id.id,template)"
                         [ngModel]="step.markCompleted">
                  <label class="ps">Completed</label>
                </div>
                <ng-template #template>
                  <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="row text-center" *ngIf="isCompleted && !isUser">
                    <h3>Step Completed!</h3>
                    <div> We've moved this step to the bottom of the list. You can still view it later.</div>
                  </div>
                  <div class="row text-center" *ngIf="!isCompleted && !isUser">
                    <h3>Step Added!</h3>
                    <div> We've moved this step to the top of the list. You can still view it later.</div>
                  </div>
                  <div class="row text-center" *ngIf="isUser">
                    <h3>Please login to make modifications to your Plan</h3>
                  </div>
                  <div class="row text-center">
                    <button type="button" (click)="close()" class="btn btn-primary">Close</button>
                  </div>
                </ng-template>
              </div>
              <div class="col-xs-12 step-content">
                <div>
                  <p>
                    {{step.id.description}}
                  </p>
                </div>
                <div>
                  <ul>
                    <li class="pl">If the summons is real, prepare for your court date.</li>
                    <li><a href="" class="link">Set up a reminder for your court date.</a></li>
                    <li><a href="" class="link">Learn more about court appearances and what to expect.</a></li>
                  </ul>
                </div>
                <div>
                  <ul>
                    <li class="pl">If the summons is not real, you should talk to your landlord.</li>
                    <li><a href="" class="link">Set up a reminder for your court date.</a></li>
                    <li><a href="" class="link">Learn more about court appearances and what to expect.</a></li>
                  </ul>
                </div>
                <div *ngFor="let resource of step.id.resourceTags">
                  <div *ngIf="resource.id.resourceType === 'Videos'" class="row box-shadow">
                    <div class="media-left">
                      <img class="media-object" src="../../../assets/images/icons/videos.svg" aria-hidden="True">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading" (click)="openModal(vedioTemplate)">{{resource.id.name}}</h4>
                      <p>{{resource.id.description}}</p>
                    </div>
                    <ng-template #vedioTemplate>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <iframe title="{{resource.id.name}}" [src]='resourceUrl(resource.id.url)' frameborder="0" allowfullscreen></iframe>
                    </ng-template>
                  </div>
                  <div *ngIf="resource.id.resourceType==='Organizations'">
                    <img src="./assets/images/small-icons/call.svg" alt="Phone number" class="nav-icon">
                    <span class="p">{{resource.id.telephone}}</span>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
        <div class="col-md-3 col-xs-12 quick-links">
          <p>Quick Links</p>
          <ul>
            <li><a href="#" class="link">Eviction Rules &amp; Regulations</a></li>
            <li><a href="#" class="link">Organizations that can help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
