h1 {
  padding: 30px 0;
  border-bottom: 1px solid #0D3FBB;
}

h2 {
  background-color: #f4f4f4;
  padding: 20px 5px;
}

input, textarea {
  padding-left: 10px;
}

label {
  font-weight: 600;
  padding-right: 20px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.sections {
  border-bottom: 1px solid #7e7e7e;
}

.sections:last-child {
  border-bottom: none;
}

.subsections {
  padding-bottom: 20px;
}

.box-shadow {
  padding: 20px;
  margin: 40px 0;
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
}

.upload-img {
  padding: 3px;
}

@media only screen and (min-width : 768px) {
  input, textarea {
    margin-left: 0;
  }
}
