<div class="container">
  <!--<div *ngIf="resource.resourcetype === 'articles">-->
    <app-articles></app-articles>
  <!--</div>-->
  <!--<div *ngIf="resource.resourcetype === 'organiations">-->
    <!--<app-organizations></app-organizations>-->
  <!--</div>-->
  <!--<div *ngIf="resource.resourcetype === 'videos">-->
    <!--<app-videos></app-videos>-->
  <!--</div>-->
  <!--<div *ngIf="resource.resourcetype === 'action plans">-->
    <!--<app-action-plans></app-action-plans>-->
  <!--</div>-->
</div>

