.org-sections {
  margin-bottom: 40px;
}

.org-sections:last-child {
  margin-bottom: 0;
}

.org-review img {
  width: 50px;
  height: 50px;
}

.org-review .media-body {
  padding-left: 20px;
}

.expanded-image {
  position: relative;
}

.expanded-image img {
  width: 100%;
  max-height: 350px;
}

.thumbnails {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 8px;
  opacity: 0.7;
  background-color: #000;
}

.thumbnails img, .modal-thumbnails img {
  width: 65px;
  max-height: 65px;
  margin: 0 3px;
  cursor: pointer;
}

.thumbnails a {
  font-weight: 600;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
}

.box-no-shadow {
  margin: 20px 0;
}

.resource-body {
  padding: 20px;
}

.hours span {
  width: 100%;
  display: inline-block;
  margin: 5px 0 5px 0px;
  white-space: pre-wrap;
}

.modal-thumbnails {
  margin-top: 15px;
  text-align: center;
}

.current-img {
  text-align: center;
}

h2 {
  margin-top: 0;
}

.user-action {
  margin-top: 20px;
}

@media only screen and (min-width : 768px) {
  .user-action {
    margin-top: 10px;
  }
}

@media only screen and (min-width : 992px) {
  .col-md-4 {
    padding-left: 5%;
  }
}

