.plan-detail {
  box-shadow: 0 0 5px 3px #ddd;
}

.plan-heading {
  border-bottom: 1px solid #ddd;
}

.subtopic-icon {
  width: 45px;
}

.more-menu {
  margin-top: 30px;
  width: 30px;
}

.accordion-img {
  width: 20px;
  margin-right: 15px;
  margin-top: 5px;
}

.filter-plan {
  background-color: #F4F4F4;
}

.filter-plan button {
    float: left;
  }

.plan-spacing {
  padding: 10px;
}

.filter-plan span {
  margin-right: 10px;
}

.main-icon {
  margin-top: 10px;
}

.plan-steps .btn-selected {
  padding: 10px;
  width: 120px;
  float: right;
  margin-top: -5px;
}

.quick-links {
  margin-top: 10px;
  font-weight: 600;
}

.plan-steps {
  border-left: 1px solid #ddd;
  margin: 20px 0;
  padding-right: 20px;
}

.accordion-img + h3 {
  margin-top: -3px;
  margin-bottom: 30px;
}

.mobile-action {
  text-align: center;
}

@media only screen and (min-width : 768px) {
  .user-action {
    float: right;
  }

  .filter-plan button {
    margin: 0 10px 10px 10px;
  }

  .plan-spacing {
    padding: 15px;
  }

  .step-content {
    margin-left: 33px;
    padding-right: 35px;
  }
}

@media only screen and (min-width : 992px) {
  .plan-spacing {
    padding: 10px 30px;
  }
}
