<div class="container" *ngIf="privacyContent">
  <div class="static-img-container row">
    <div class="col-md-12 static-img">
      <img *ngIf="privacyContent.image.source" [src]="blobUrl + privacyContent.image.source" [alt]="privacyContent.image.altText" />
    </div>
    <h2 class="inline">Privacy</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{privacyContent?.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngFor="let content of privacyContent?.details">
      <h3>{{content.title}}</h3>
      <p>{{content.description}}</p>
    </div>
  </div>
</div>

