<div class="row">
  <div class="col-md-12" id="privacy-img"></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores illo totam iste rerum fuga sit facilis modi iusto sapiente saepe tenetur labore eaque esse quod alias maxime ut velit quisquam, doloremque perspiciatis harum omnis. Odit dolorem, reprehenderit cupiditate deleniti amet a aperiam voluptates quam facilis suscipit, vero error magnam voluptatum.</p>
  </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Data Collection and Use</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, distinctio possimus neque corrupti veritatis aspernatur odit quae sed voluptas minima, aliquam iste ex deleniti ut aliquid quaerat animi, similique accusamus?</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Personal Information</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis earum ipsa dolore id sequi, dicta illum. Perspiciatis doloribus voluptas iure!</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Security</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quod excepturi in illum aliquid hic sit porro unde doloribus facere, iste distinctio nisi, ea aperiam, id vero! Animi tempore odio expedita reprehenderit officiis suscipit, illo doloremque esse? Velit, dolor necessitatibus eveniet earum vel officiis expedita, voluptate quidem totam illum asperiores sapiente, quo ipsa tenetur labore tempore corporis dolore dolorem sunt.</p>
    </div>
</div>