<div class="container" *ngIf="privacyContent">
  <div class="static-img-container row">
    <div class="col-md-12 static-img">
      <img
        *ngIf="privacyContent.image.source"
        [src]="blobUrl + privacyContent.image.source"
        [alt]="privacyContent.image.altText"
      />
    </div>
    <h1 class="inline">Legal Navigator Privacy Promise</h1>
  </div>
  <div class="row">
    <div class="col-md-10 resource-sections">
      <p [innerHTML]="privacyContent?.description | sanitizeHtml"></p>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-10 resource-sections"
      *ngFor="let content of privacyContent?.details"
    >
      <h3>{{ content.title }}</h3>
      <p [innerHTML]="content.description | sanitizeHtml"></p>
    </div>
  </div>
</div>
