<div *ngIf="guidedAssistantId || showSidebar"
     class="mobile-border web-hidden"
>
</div>
<div
  *ngIf="guidedAssistantId || showSidebar"
  class="sidebar-block text-center no-print"
>
  <h5>
    Need help? Use our Guided Assistant to receive personalized recommendations.
  </h5>
  <p class="ps">
    No account necessary. We never share any information you provide. Read our
    <a routerLink="/privacy">Privacy Promise</a>.
  </p>
  <div class="col-sm-12">
    <a
      *ngIf="!guidedAssistantId"
      [routerLink]="['/guidedassistant']"
      class="btn btn-primary"
    >
    Start the Guided Assistant
    </a>
    <a
      *ngIf="guidedAssistantId"
      (click)="getGuidedAssistantLinkResult()"
      class="btn btn-primary"
    >
    Start the Guided Assistant
    </a>
  </div>
</div>
