.sidebar-block {
  margin-bottom: 40px;
  width: 100%;
  margin-top: 30px;
}

@media only screen and (min-width : 992px) {
  .sidebar-block {
    margin-top: 0;
  }
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
