<div class="sidebar-block text-center box-no-shadow">
  <h5>Need help? Use our Guided Assistant to receive personalized recommendations.</h5>
  <p class="ps">No account necessary. We never share any information you provide. Read our <a routerLink='/privacy'>Privacy Promise</a>.</p>
  <button class="btn-sm btn-primary">
    <!--hardcoding the guided assistant search until search endpoint has been updated to pass the external url from search-->
    <a *ngIf="!guidedAssistantId" [routerLink]="['/guidedassistant/9a6a6131-657d-467d-b09b-c570b7dad242']">Start the Guided Assistant</a>
    <!--<a *ngIf="!guidedAssistantId" [routerLink]="['/guidedassistant']">Start the Guided Assistant</a>
    <a *ngIf="guidedAssistantId" [routerLink]="['/guidedassistant/' + guidedAssistantId]">Start the Guided Assistant</a>-->
  </button>
</div>
