.sidebar {
  background-color: #f4f4f4;
  padding: 20px 0;
}

.sidebar-wrapper {
  margin-bottom: 20px;
}

.btn-primary {
  margin: 20px auto;
}

.btn-primary a {
  color: #fff;
}

.secondary-img {
  width: 250px;
  margin: 20px auto;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #000;
}