<div class="col-xs-12 sidebar-block text-center">
  <img class="secondary-img" src="./assets/images/secondary-illustrations/service_org.svg" alt="Service Organizations">
  <div>
    <h4>Service organizations in your community</h4>
    <p>Free local services available to all.</p>
    <div>
      <div class="col-sm-4 org sidebar-block">
        <a class="link" href="#">Food Bank of Alaska</a>
        <img class="nav-icon" src="./assets/images/small-icons/call.svg" alt="phone number" />
        <span>907-272-3663</span>
      </div>
      <div class="col-sm-4 org sidebar-block">
        <a class="link" href="#">Food Bank of Alaska</a>
        <img class="nav-icon" src="./assets/images/small-icons/call.svg" alt="phone number"/>
        <span>907-272-3663</span>
      </div>
      <div class="col-sm-4 org sidebar-block">
        <a class="link" href="#">Food Bank of Alaska</a>
        <img class="nav-icon" src="./assets/images/small-icons/call.svg" alt="phone number"/>
        <span>907-272-3663</span>
      </div>
    </div>
    <div class="col-sm-12">
      <button class="btn-sm btn-primary"><a href='#'>See more organizations</a></button>
    </div>
  </div>
</div>
