.service-org {
  background-color: #f4f4f4;
  padding: 20px 5%;
  margin-top: 0;
}

.sidebar-wrapper {
  margin-bottom: 20px;
}

.btn-primary {
  margin: 20px auto;
}

.secondary-img {
  width: 250px;
  margin: 20px auto;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.sidebar-block {
  width: 100%;
}

@media only screen and (min-width : 768px) {
  .fullPage + div .sidebar-block {
    width: 33%;
  }
}

@media only screen and (min-width : 992px) {
  .secondary-img {
    width: 100%;
  }
}
