<div class="col-sm-12 sidebar text-center">
  <div class="sidebar-wrapper">
    <h4>Service organizations in your community</h4>
    <p>Free local services available to all.</p>
    <div class="org-info">
      <div class="col-md-4 org">
        <img src="#" alt=""/>
        <span>Food Bank of Alaska</span>
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>907-272-3663</p>
      </div>
      <div class="col-md-4 org">
        <img src="#" alt=""/>
        <span>Food Bank of Alaska</span>
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>907-272-3663</p>
      </div>
      <div class="col-md-4 org">
        <img src="#" alt=""/>
        <span>Food Bank of Alaska</span>
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>907-272-3663</p>
      </div>
    </div>

    <button><a href='#'>See more organizations</a></button>
  </div>
</div>
