<div class='no-print'>
  <div *ngIf="!mobile" class="text-center sidebar col-sm-12">
    <div class="container">
      <div class="col-sm-4 sidebar-block">
        <img src="./assets/images/secondary-illustrations/save.svg" alt="Save your Plan">
        <p class="pl">Save your plan</p>
        <p>Access it later on a computer or phone. Your information will never be shared without your permission.</p>
        <a class="link" href=""><app-save-button></app-save-button></a>
      </div>
      <div class="col-sm-4 sidebar-block" *ngIf="global.showShare">
        <img src="./assets/images/secondary-illustrations/share.svg" alt="Share your Plan">
        <p class="pl">Share your plan</p>
        <p>Send a link to this information to a friend, family member, or advocate that is helping you. Such as a lawyer or social worker.</p>
        <a class="link" href=""><app-share-button></app-share-button></a>
      </div>
      <div class="col-sm-4 sidebar-block">
        <img src="./assets/images/secondary-illustrations/print.svg" alt="Print your Plan">
        <p class="pl">Print your plan</p>
        <p>You can also just print this page too so you can take it with you.</p>
        <a class="link" href=""><app-print-button></app-print-button></a>
      </div>
    </div>
  </div>
  <ul *ngIf="mobile" class="user-action">
    <li *ngIf="showSave">
      <app-save-button  [id]="resourceId" [type]="resourceType"></app-save-button>
    </li>
    <li>
      <app-share-button></app-share-button>
    </li>
    <li *ngIf="showPrint">
      <img src="./assets/images/small-icons/print.svg" class="nav-icon" aria-hidden="true" />
      <app-print-button [printData]="printData"></app-print-button>
    </li>
    <li *ngIf="showDownload">
      <img src="./assets/images/small-icons/download.svg" class="nav-icon" aria-hidden="true" />
      <app-download-button></app-download-button>
    </li>
    <li *ngIf="showSetting && global.showSetting">
      <img src="./assets/images/small-icons/settings.svg" class="nav-icon" aria-hidden="true" />
      <app-setting-button></app-setting-button>
    </li>
  </ul>
</div>
