<div class="row">
  <div class="col-md-12 text-center" id="helpline">
    <h4>Are you safe? Call X-XXX-XXX-XXXX to get help.</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="footer-nav text-center">
      <li><a href="#">Guided Assitant</a></li>
      <li><a href="#">Topics &amp; Resources</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Chat</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Help &amp; FAQs</a></li>
      <li><a href="#">Privacy Promise</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Exit Website</a></li>
    </ul>
  </div>
</div>