.lower-nav {
    background: #fff;
    border: none;
}

li.web-hidden {
    background-color: #000;
    margin: 0;
}

#search {
    margin-left: 10px;
}

.glyphicon-search {
    color: rgb(117, 117, 117);
}

.form-group {
    display: inline-block;
}

@media only screen and (min-width : 768px) {

    #search {
        width: 100px;
    }

    li.web-hidden {
        display: none;
    }
}

@media only screen and (min-width : 992px) {
    #search {
        width: 100px;
    }

    li.web-hidden {
        display: none;
    }
}
