<div class="navbar navbar-fixed-top upper-nav">
  <div class="container-fluid">
    <div class="navbar-left inline" id="edit-location">
      <app-location></app-location>
    </div>
    <div class="navbar-right inline" id="language-dropdown">
      <ul>
        <li dropdown>
          <a href dropdownToggle (click)="false"><span type="button" class="glyphicon glyphicon-globe" aria-hidden="true"></span>English</a>
          <ul *dropdownMenu class="dropdown-menu pull-left">
            <li class="list-items" *ngFor="let choice of items">
              <a class="dropdown-item" href="#">{{choice}}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav mobile-hidden">
        <li><a routerLink='/help'><span type="button" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Help &amp; FAQs</a></li>
        <li><a routerLink='/privacy'><span type="button" class="glyphicon glyphicon-tower" aria-hidden="true"></span>Privacy Promise</a></li>
        <li><a routerLink='/createaccount' id="create-account"><span type="button" class="glyphicon glyphicon-user" aria-hidden="true"></span>Create Account</a></li>
        <li><a routerLink='/login' id="log-in-nav">| Log In </a></li>
      </ul>
    </div>
  </div>
</div>
