input {
  width: 50%;
  height: 40px;
}

#copy-btn {
  height: 40px;
  margin-left: -4px;
  background-color: #0D3FBB;
  color: #fff;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}

p {
  margin: 35px auto 20px auto;
}

span {
  margin: 20px auto;
  display: block;
}

#share {
  margin: 0;
  cursor: pointer;
}

.text-center {
  margin-top: 40px;
}

#remove-btn {
  margin: 0 auto;
  background-color: #CA3636;
}

.remove-share {
  border-top: 1px solid #ddd;
  padding-top: 40px;
}

.close {
  margin-top: -30px;
}
