<div class="m-top-15" style="cursor:pointer" id="videos" *ngIf="showVideo==true">
    <h1>Videos</h1>
    <p class="m-top-20">This video explains different kinds of termination notices</p>

    <div class="row m-top-40">
        <div class="col-xs-10 col-xs-offset-1">

            <div *ngFor="let vd of videos">
                <div class="video-responsive">
                    <iframe id="ifPlayer" width="420" height="315" [src]=vd.Url frameborder="0" allowfullscreen ></iframe>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>