#save {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#save:hover {
  text-decoration: none;
  color: #333;
}

.resource-saved {
  color: #ccc;
}

#save img {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #save img {
    display: inline-block;
  }
}
