p {
  margin-bottom: 0;
}

.row {
  margin: 5px auto;
}

.edit-location {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin-left: -4px;
}

.edit-location:hover {
  background-color: #fff;
}

#my-map {
  position: relative;
  width: 90%;
  margin: 20px auto 0 auto;
  height: 250px;
}

#searchbox-container {
  margin-top: 10px;
  height: 30px;
}

.location-icon {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.location-icon ~ h4 {
  display: inline-block;
  margin: 0;
}

.change-location-btn {
  color: #0D3FB8;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#search-box {
  height: 30px;
  width: 45%;
  float: left;
  margin-left: 22%;
}

.search-btn {
  background-color: #0D3FB8;
  padding: 3px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  margin-left: -5px;
  font-weight: 600;
  float: left;
  height: 30px;
}

.close {
  margin-top: -8px;
}

.dimmer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
  transition: background-color .5s;
}

.no-dimmer {
  display: none;
}

#search-box {
  padding: 5px;
}

.btn-primary:disabled {
  background-color: #DDDDDD;
  color: #585858;
  border: 1px solid #7E7E7E;
  cursor: not-allowed;
}

.privacy {
  margin: 10px auto;
}

.btn {
  margin: 0 auto;
}

@media only screen and (min-width : 992px) {
  .mobile-hidden {
    display: inline-block;
  }

  #search-box {
    width: 250px;
    margin-left: 165px;
  }

  #my-map {
    height: 265px;
  }

  .edit-location {
    padding: 15px;
    height: 53px;
  }
}
