<div [ngClass]="{ 'dimmer': detectLocation, 'no-dimmer': !detectLocation  }"></div>
<div *ngIf="locationNavContent" class="edit-location" (click)="changeLocation(template)">
  <img *ngIf="locationNavContent.image.source" class="nav-icon" [src]="blobUrl + locationNavContent?.image?.source" aria-hidden="true" />
  <span *ngIf="showLocation; else elseBlock">
    {{locationNavContent?.text}}
  </span>
  <ng-template #elseBlock>
    <span *ngIf="!showLocality"> {{locality}}(</span>
    <span>{{address}}</span>
    <span *ngIf="!showLocality">)</span>
  </ng-template>
  <button type="button" class="change-location-btn pxs mobile-hidden">{{locationNavContent?.button?.buttonText}}</button>
</div>
<ng-template #template>
  <form #mapForm="ngForm" (ngSubmit)="hideSearchPrediction()">
    <div class="modal-body text-center container-fluid">
      <img *ngIf="!locationInputRequired" type="button" class="nav-icon pull-right" src="./assets/images/small-icons/close.svg" aria-label="Close" (click)="modalRef.hide()">
      <div class="row">
        <img *ngIf="locationNavContent && locationNavContent.image.source" class="location-icon" [src]="blobUrl + locationNavContent?.image?.source" aria-hidden="true"/>
        <h4>Location</h4>
        <p>We currently support Alaska and Hawaii</p>
        <p>
          You can learn more about the states we support by visiting our
          <a [routerLink]="['/about']" class="link">About</a>
          page
        </p>
      </div>
      <div class="row">
        <div id="searchbox-container">
          <input
            type="text"
            id="search-box"
            aria-label="search address box"
            autocomplete="off"
            placeholder="Enter a state name"
            (input)="onSearchChange()"
            autofocus="autofocus"
            name="locationInput"
            [(ngModel)]='locationInput' />
          <button type="submit" class="search-btn" (click)="geocode()">Search</button>
        </div>
        <span *ngIf="locationError" class="validation-error">Please enter a valid location</span>
        <div id="my-map"></div>
      </div>
      <div class="row">
        <p class="privacy">
          We promise to never share your location. View our
          <a class="link" [routerLink]="['/privacy']">Privacy Promise</a>
          .
        </p>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary" (click)="updateLocation()" [disabled]="!locationInput">Update</button>
      </div>
    </div>
  </form>
</ng-template>
