button:after {
  content: unset;
}

h5, span {
  color: #000;
  font-weight: 600;
}

li {
  margin: 10px 0;
}

.button-wrapper {
  margin-bottom: 0;
}

.verticle-line {
  border-bottom: 1.5px solid #0D3FBB;
  margin-bottom: 20px;
  height: 45px;
}

.show-articles {
  border: 1.5px solid #0D3FBB;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: #FFF;
  margin-bottom: -1.5px;
  padding: 10px 40px 9px 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 94% 50%;
  background-size: 12px;
  background-image: url('../../../assets/images/small-icons/dropdown_arrow.svg');
}

.open .show-articles {
  background-image: url('../../../assets/images/small-icons/dropup_arrow.svg');
}

.dropdown-icon {
  width: 12px;
  margin: 0 5px 2px 5px;
}

.link {
  width: 100%;
  height: 30px;
}

.link a {
  color: #0D3FBB;
}

.topic-section {
  padding: 0 15px;
}

.articles-content {
  margin: 0 8%;
}

.articles-content:after {
  content: "";
  border-bottom: 1px solid #ccc;
  width: 100%;
}

@media only screen and (min-width : 992px) {
  .link {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}
