button:after {
  content: unset;
}

h5,
span {
  color: #000;
  font-weight: 600;
}

li {
  margin: 10px 0;
}

#articles-dropdown {
  height: 43px;
  margin-top: 30px;
}

#articles-dropdown .button-wrapper {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

#articles-dropdown.open.show .button-wrapper {
  bottom: unset;
}

.button-wrapper > div {
  margin-left: 12%;
}

#articles-dropdown .verticle-line {
  border-bottom: 1.5px solid #0d3fbb;
  margin-bottom: -2px;
  height: 45px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

#articles-dropdown.open.show .verticle-line {
  position: unset;
}

.show-articles {
  border: 1.5px solid #0d3fbb;
  border-bottom: 1.5px solid #fff;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  margin-bottom: -2px;
  padding: 10px 40px 9px 10px;
  background-position: 86% 50%;
  padding-bottom: 8px;
  width: 300px;
}

.dropdown-icon {
  width: 12px;
  margin: 0 5px 2px 5px;
}

.link {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.link a {
  color: #0d3fbb;
}

.topic-section {
  padding: 0 15px;
}

.articles-content {
  margin: 20px 60px;
}

.articles-content:after {
  content: "";
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.link.p a:hover {
  box-shadow: none;
  color: #0b2b78;
}

@media only screen and (min-width: 768px) {
  .show-articles {
    padding: 10px 40px 8px 10px;
  }
}

@media only screen and (min-width: 992px) {
  .link {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
  }

  .button-wrapper > div {
    margin-left: 14%;
  }
}

@media only screen and (min-width: 1224px) {
  .button-wrapper > div {
    margin-left: 37%;
  }

  .articles-content {
    margin: 20px 135px;
  }
}
