.panel-heading {
  margin-right: 50%;
  background-color: lightgrey;
  width: 38%;
  border-radius:25px;
  height:40px;
}

.panel-heading-space {
  margin: 10px;
}

.label-display {
  float: left;
  padding-right: 10px;
}
