h2 {
  margin: 20px 0;
}

.panel-heading {
  display: inline-block;
  border-radius: 25px;
  padding: 0;
}

.label-display {
  display: block;
  margin-top: -35px;
  padding-bottom: 10px;
  margin-left: 1px;
}

.guided-assistant {
  margin-bottom: 0;
}

@media only screen and (min-width: 540px) {
  .result-heading {
    margin-bottom: 0;
  }

  .panel-heading {
    padding: 0;
  }

  .label-display {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 0;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .col-md-4 {
    padding-left: 5%;
  }
}
