<div class="container">
  <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)" enctype="multipart/form-data">
    <div class="row">
      <p>Upload curated experience template file using this form:</p>
    </div>
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" name="name" placeholder="name" [ngModel] />
    </div>
    <div class="form-group">
      <label>Description: </label>
      <input type="text" multiple class="form-control" placeholder="description" name="description" [ngModel] />
    </div>
    <div class="form-group">
      <label>Select Template: </label>
      <input #file type="file" class="form-control" name="file" [ngModel] />
    </div>
    <div class="form-group">
      <span class="validation-success">{{successMessage}}</span>
      <span class="validation-error">{{errorMessage}}</span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" id="upload-btn">Upload</button>
    </div>
  </form>
</div>


