<form
  #uploadForm="ngForm"
  (ngSubmit)="onSubmit(uploadForm)"
  enctype="multipart/form-data"
>
  <div class="row">
    <p>Upload curated experience template file using this form:</p>
  </div>
  <div class="form-group">
    <label>Name<span class="required-star">*</span>: </label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="name"
      required
      [ngModel]
    />
  </div>
  <div class="form-group">
    <label>Description<span class="required-star">*</span>: </label>
    <input
      type="text"
      multiple
      class="form-control"
      placeholder="description"
      name="description"
      required
      [ngModel]
    />
  </div>
  <div class="form-group">
    <label>Select Template<span class="required-star">*</span>: </label>
    <input
      #file
      type="file"
      class="form-control"
      name="file"
      required
      [ngModel]
    />
  </div>
  <div class="form-group">
    <span class="validation-success">{{ successMessage }}</span>
    <span class="validation-error">{{ errorMessage }}</span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="upload-btn">
      Upload
    </button>
  </div>
</form>
