#language-dropdown {
  padding: 15px 40px 15px 15px;
  background-image: url('../../../assets/images/small-icons/dropdown_arrow.svg');
  background-repeat: no-repeat;
  background-position: 88% 50%;
  background-size: 12px;
}

#language-dropdown > a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.white-bg {
  position: relative;
  background-color: #FFF;
  z-index: 1;
  background-image: url('../../../assets/images/small-icons/dropup_arrow.svg') !important;

}
