#language-dropdown {
  padding: 10px 10px 10px 15px;
}

#language-dropdown > a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.white-bg {
  position: relative;
  background-color: #FFF;
  z-index: 1;
}

@media only screen and (min-width : 768px) {
  #language-dropdown {
    padding: 15px;
  }
}