#language-dropdown {
  padding: 15px 40px 16px 50px;
  background-image: url('../../../assets/images/small-icons/language.svg'), url('../../../assets/images/small-icons/dropdown_arrow.svg');
  background-repeat: no-repeat;
  background-position: 13% 50%, 88% 50%;
  background-size: 20px 20px, 12px;
  background-color: rgb(244, 244, 244);
  height: 49px;
}

.white-bg {
  position: relative;
  background-color: #FFF !important;
  z-index: 1;
  background-image: url('../../../assets/images/small-icons/language.svg'), url('../../../assets/images/small-icons/dropup_arrow.svg') !important;
}

#language-dropdown:hover {
  background-color: #FFF;
}

@media only screen and (min-width : 768px) {
  #language-dropdown {
    height: 51px;
  }
}

@media only screen and (min-width : 992px) {
  #language-dropdown {
    height: 53px;
  }
}
