<div class="inline language-display" [ngClass]="{'white-bg': setBgColor, '': !setBgColor}" id="language-dropdown">
  <img *ngIf="language && language.navigationImage.source"
        class="nav-icon language-display"
        [src]="blobUrl + language?.navigationImage?.source"
        aria-hidden="true"
        alt="language?.navigationImage?.altText" />
  <span class="language-display">Language</span>
  <img *ngIf="language && language.dropDownImage.source"
        class="dropdown-icon language-display"
        [src]="blobUrl + language?.dropDownImage?.source"
        [alt]="language?.dropDownImage?.source" />
</div>
<div id="google_translate_element"></div>
