#language-dropdown {
  padding-left: 10px;
}

#language-dropdown > a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-icon {
  width: 10px;
  margin-left: 5px;
}

.list-items > .dropdown-item {
  color: #000;
}

ul.dropdown-menu {
  width: 100%;
  height: 360px;
  overflow-y: scroll;
  background-color: #f4f4f4;
  border: 0;
  border-radius: 0;
  margin-top: 0;
}

.list-items {
  display: inline-block;
  width: 50%;
  font-size: .95em;
}

@media only screen and (min-width : 768px) {
  #language-dropdown {
    padding: 10px 15px 10px 0;
  }

  #language-dropdown>a {
    color: #000;
  }

  ul.dropdown-menu {
    width: 630px;
    min-height: 415px;
    overflow: hidden;
    margin-left: 40px;
  }

  .list-items {
    display: inline-block;
    width: 25%;
  }

  #language-dropdown {
    margin-top: 0;
  }

  #language-dropdown>ul:first-child {
    width: 110px;
    float: left;
    margin-top: 15px;
  }

  .nav-icon {
    margin-left: 0;
  }
}
