<div dropdown class="inline" id="language-dropdown">
  <a dropdownToggle (click)="false">
    <img
      *ngIf="language && language.navigationImage.source"
      class="nav-icon"
      [src]="blobUrl + language?.navigationImage?.source"
      aria-hidden="true"
      alt="language?.navigationImage?.altText" />
    English
    <img
      *ngIf="language && language.dropDownImage.source"
      class="dropdown-icon"
      [src]="blobUrl + language?.dropDownImage?.source"
      [alt]="language?.dropDownImage?.source" />
  </a>
  <ul *dropdownMenu class="dropdown-menu pull-left">
    <li class="list-items" *ngFor="let choice of items">
      <a class="dropdown-item" href="#">{{choice}}</a>
    </li>
  </ul>
</div>
