.box-no-shadow {
  margin-bottom: 20px;
}

.resource-body {
  margin: 20px;
}

.resource-body media {
  padding-top: 15px;
}

.span-text {
  font-size: 0.8em;
}

.org-card-heading {
  display: inline-block;
}

.org-card-heading>.glyphicon {
  margin-left: 15px;
}

.org-content {
  margin-top: 20px;
}

.org-content div {
  padding-left: 0;
}

.address-content {
  display: inline-block;
}

.org-url {
  margin-top: 10px;
}

.resource-video iframe {
  width: 100%;
  height: 250px;
}

.glyphicon-option-horizontal {
  cursor: pointer;
}

.media-object {
  width: 50px;
  margin: 5px;
}

iframe {
  width: 100%;
  height: 450px;
  padding: 20px;
}

h4 {
  cursor: pointer;
}

#save-dropdown {
  font-size: 13px;
}

@media only screen and (min-width : 768px) {
  .org-url {
    margin-top: 0;
  }

  .resource-video iframe {
    width: 200px;
    height: 150px;
  }
}
