<div *ngIf="resource">
  <div class="box-no-shadow">
    <div class="resource-body">
      <div class="pull-right" *ngIf="global.showDropDown">
        <div class="btn-group" dropdown>
          <img dropdownToggle type="button" class="more-menu dropdown-toggle no-print" src="./assets/images/small-icons/more_menu.svg" alt="Menu" />
          <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu">
            <li role="menuitem" *ngIf="global.showShare">
              <a class="dropdown-item">
                <app-share-button [showIcon]=false [id]="resource.id" [type]="resource.resourceType" [url]="resource?.url" [webResourceUrl]="resource?.resourceDetails?.url"></app-share-button>
              </a>
            </li>
            <li role="menuitem" id="save-dropdown" *ngIf="!showRemoveOption">
              <a class="dropdown-item">
                <app-save-button [showIcon]=false [id]="resource.id" [type]="resource.resourceType"></app-save-button>
              </a>
            </li>
            <li role="menuitem" *ngIf="showRemoveOption">
              <a class="dropdown-item">
                <app-remove-button [resourceId]="resource.id" [resourceType]="resource.resourceType" [personalizedResources]="personalizedResources"></app-remove-button>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Action Plans'" class="media">
        <div class="media-left no-print">
          <img class="media-object" src="/assets/images/icons/action_plans.svg" alt="Action Plan">
        </div>
        <div class="media-body">         
          <a [routerLink]="['/resource', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <div class="print-only">{{applicationUrl+'/resource'+'/'+resource.id}}</div>
          <!--<a [routerLink]="['/personalizedplan', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>-->
          <p>This action plan is for tenants who are facing Eviction and have experienced the following:</p>
          <ul>
            <li>
              <!--ngfor ... iterate through conditions-->
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Received two written notices: one from a landlord and one from a court
            </li>
            <li>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span>Have not yet talked to the court or their landlord</span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Articles'" class="media">
        <div class="media-left no-print">
          <img class="media-object" src="/assets/images/icons/articles.svg" alt="Article">
        </div>
        <div class="media-body">
          <a [routerLink]="['/resource', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <div class="print-only">{{applicationUrl+'/resource'+'/'+resource.id}}</div>
          <p>{{resource.description}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Organizations'" class="media">
        <div class="media-left no-print">
          <img class="media-object" src="/assets/images/icons/organizations.svg" aria-hidden="true">
        </div>
        <div class="media-body">
          <a [routerLink]="['/resource', resource.id]"><h4 class="media-heading">{{resource.name}}, {{resource.type}}</h4></a>
          <div class="print-only">{{applicationUrl+'/resource'+'/'+resource.id}}</div>
          <p>{{resource.description}}</p>
          <div class="org-content span-text">
            <div class="col-sm-4" *ngIf="resource.address.length > 0">
              <div class="media-left no-print">
                <img src="./assets/images/small-icons/location.svg" alt="Address" class="nav-icon no-print" />
              </div>
              <div class="media-body">
                <span>{{resource.address}}</span>
              </div>
            </div>
            <div class="col-sm-3 org-phone-detail" *ngIf="resource.telephone.length > 0">
              <img src="./assets/images/small-icons/call.svg" alt="Telephone" class="nav-icon no-print" />
              <span>{{resource.telephone}}</span>
            </div>
            <div class="col-sm-4 org-url" *ngIf="resource.url.length > 0">
              <img src="./assets/images/small-icons/email.svg" alt="Email" class="nav-icon no-print" />
              <span>{{resource.url}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Videos'" class="row">
        <div class="media-left no-print">
          <img class="media-object" src="/assets/images/icons/videos.svg" alt="Video">
        </div>
        <div class="media-body">
          <a [routerLink]="['/resource', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <div class="print-only">{{applicationUrl+'/resource'+'/'+resource.id}}</div>
          <p>{{resource.description}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Forms' || resource.resourceType === 'Related Links'" class="media">
        <div class="media-left no-print">
          <img class="media-object" src="/assets/images/icons/forms.svg" alt="Form">
        </div>
        <div class="media-body">
          <a [href]="resource.url"><h4 class="media-heading">{{resource.name}}</h4></a>
          <div class="print-only">{{resource.url}}</div>
          <span class="glyphicon glyphicon-new-window no-print" aria-hidden="true"></span><span class="span-text no-print">External link</span>
          <p>{{resource.description}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Topics'" class="media">
        <div class="media-left no-print">
          <a href="#">
            <img class="media-object" src="{{resource.icon}}" alt="Other resource types">
          </a>
        </div>
        <div class="media-body">
          <a [routerLink]="['/subtopics', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <p>{{resource.overview}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Guided Assistant'" class="media">
        <div class="media-left">
          <img class="media-object" src="/assets/images/icons/action_plans.svg" alt="Action Plan">
        </div>
        <div class="media-body">
          <a [routerLink]="['/guidedassistant', resource.externalUrl]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <div class="media-body">
            <p>{{resource.description}}</p>
          </div>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'WebResources'" class="media">
        <p class="ps">{{resource.resourceDetails.dateLastCrawled}}</p>
        <a href="{{resource.resourceDetails.url}}"><p class="pl">{{resource.name}}</p></a>
        <div class="no-print">
          <a href="{{resource.resourceDetails.url}}"><span class="link">{{resource.resourceDetails.displayUrl}}</span></a>
        </div>
        <div class="web-hidden">{{resource.resourceDetails.url}}</div>
        <p>{{resource.resourceDetails.snippet}}</p>
        <div class="web-resource" *ngIf="resource.resourceDetails.deepLinks">
          <div *ngFor="let deepLink of resource.resourceDetails.deepLinks">
            <p class="ps">{{resource.resourceDetails.dateLastCrawled}}</p>
            <div class="no-print">
              <a href="{{deepLink.url}}"><p class="pl">{{deepLink.name}}</p></a>
            </div>
            <div class="web-hidden">{{deepLink.url}}</div>
            <a href="{{deepLink.url}}"><span class="link">{{deepLink.url}}</span></a>
            <p>{{deepLink.snippet}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
