<div *ngIf="resource">
  <div class="resource-content">
    <div class="resource-body">
      <div class="pull-right">
        <div class="btn-group" dropdown>
          <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
          <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu">
            <li role="menuitem">
              <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Action Plans'" class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="#" alt="...">
          </a>
        </div>
        <div class="media-body">
          <a [routerLink]="['/resource', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>
          <!--<a [routerLink]="['/personalizedplan', resource.id]"><h4 class="media-heading">{{resource.name}}</h4></a>-->
          <p>This action plan is for tenants who are facing Eviction and have experienced the following:</p>
          <ul>
            <li>
              <!--ngfor ... iterate through conditions-->
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Received two written notices: one from a landlord and one from a court
            </li>
            <li>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span>Have not yet talked to the court or their landlord</span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Articles'" class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="#" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{resource.name}}</h4>
          <p>{{resource.description}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Organizations'" class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="#" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading org-card-heading">{{resource.name}}, {{resource.type}}</h4>
          <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><span class="span-text">External link</span>
          <p>{{resource.description}}</p>
          <div class="org-content span-text">
            <div class="col-sm-5">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              <span>{{resource.address}}</span>
            </div>
            <div class="col-sm-3">
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span>{{resource.telephone}}</span>
            </div>
            <div class="col-sm-4 org-url">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span>{{resource.url}}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Videos'" class="row">
        <div class="col-sm-4 col-xs-12 resource-video">
          <iframe title="{{resource.name}}" src="" frameborder="0" allowfullscreen></iframe><!--add video title-->
        </div>
        <div class="col-sm-8 col-xs-12">
          <h4 class="media-heading">{{resource.name}}</h4>
          <p>{{resource.description}}</p>
        </div>
      </div>
      <div *ngIf="resource.resourceType === 'Forms'" class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="#" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{resource.name}}</h4>
          <p>{{resource.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
