.media-left {
  width: 50px;
}

.media-body {
  padding: 0 20px;
}

.box-no-shadow {
  margin-bottom: 20px;
}

.resource-body {
  margin: 20px;
}

.resource-body media {
  padding-top: 15px;
}

.span-text {
  font-size: 0.8em;
}

.org-card-heading {
  display: inline-block;
}

.org-card-heading>.glyphicon {
  margin-left: 15px;
}

.org-content {
  margin-top: 20px;
}

.org-content div {
  padding-left: 0;
}

.org-content .nav-icon {
  margin-left: 0;
}

.address-content {
  display: inline-block;
}

.org-url {
  margin-top: 10px;
}

.resource-video iframe {
  width: 100%;
  height: 250px;
}

.glyphicon-option-horizontal {
  cursor: pointer;
}

.media-object {
  width: 50px;
  margin: 5px;
}

iframe {
  width: 100%;
  height: 450px;
  padding: 20px;
}

h4 {
  cursor: pointer;
  padding-right: 10px;
}

#save-dropdown {
  font-size: 13px;
}

.more-menu {
  width: 20px;
  cursor: pointer;
}

.org-phone-detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.org-content img {
  padding-right: 5px;
}

.external-link {
  margin-bottom: 10px;
}

@media only screen and (min-width : 768px) {
  h4 {
    padding-right: 20px;
  }

  .org-url {
    margin-top: 0;
  }

  .resource-video iframe {
    width: 200px;
    height: 150px;
  }

  .org-content .col-md-4:last-child {
    padding-right: 0;
  }
}

@media only screen and (min-width : 992px) {
  .org-content .col-md-4 {
    padding-right: 10px;
  }

  .org-phone-detail {
    margin-top: 0;
  }
}
