<div *ngIf="subtopicDetails">
  <div *ngFor="let resourceResult of subtopicDetails">
    <!--if resource type = action plan-->
    <div  *ngIf="resourceResult.resourceType == 'Action Plans'" class="resource-content">
      <div   class="resource-body">
        <div class="pull-right">
          <div class="btn-group" dropdown>
            <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
            <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="media">
          <!---need type to be ActionPlan-->
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="#" alt="...">
            </a>
          </div>
          <div class="media-body">
            <a [routerLink]="['/resource', resourceResult.id]"><h4 class="media-heading">{{resourceResult.name}}</h4></a>
            <p>This action plan is for tenants who are facing {{subtopicDetails.title | lowercase }} and have experienced the following:</p>
            <ul>
              <li>
                <!--ngfor ... iterate through conditions-->
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Received two written notices: one from a landlord and one from a court
              </li>
              <li>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span>Have not yet talked to the court or their landlord</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end if resource type = action plans-->
    <!--if resource type = article -->
    <div *ngIf="resourceResult.resourceType == 'Articles'" class="resource-content">
      <div  class="resource-body">
        <div class="pull-right">
          <div class="btn-group" dropdown>
            <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
            <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="#" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{resourceResult.name}}</h4>
            <p>{{resourceResult.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--end if resource type = article -->
    <!--if resource type = organization-->
    <div *ngIf="resourceResult.resourceType == 'Organizations'" class="resource-content">
      <div  class="resource-body">
        <div class="pull-right">
          <div class="btn-group" dropdown>
            <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
            <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="#" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading org-card-heading">{{resourceResult.name}}, {{resourceResult.type}}</h4>
            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span><span class="span-text">External link</span>
             <p>{{resourceResult.description}}</p>
            <div class="org-content span-text">
              <div class="col-sm-5">
                <div class="address-content">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </div>
                <div class="address-content">
                  <p>{{resourceResult.address}}</p>
                  <!--<p>{{resourceResult.Address.city}}, {{organization.Address.state}}, {{organization.Address.zipcode}}</p>-->
                </div>
              </div>
              <div class="col-sm-3">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span>{{resourceResult.telephone}}</span>
              </div>
              <div class="col-sm-4 org-url">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span>{{resourceResult.url}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end if-->
    <!--if resource type = video-->
    <div *ngIf="resourceResult.resourceType == 'Videos'" class="resource-content">
      <div class="resource-body">
        <div class="pull-right">
          <div class="btn-group" dropdown>
            <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
            <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-xs-12 resource-video">
            <iframe title="title" src="" frameborder="0" allowfullscreen></iframe><!--add video title-->
          </div>
          <div class="col-sm-8 col-xs-12">
            <h4 class="media-heading">{{resourceResult.name}}</h4>
            <p>{{resourceResult.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--end if resource type = video-->
    <!--if resource type = article -->
    <div *ngIf="resourceResult.resourceType == 'Forms'" class="resource-content">
      <div  class="resource-body">
        <div class="pull-right">
          <div class="btn-group" dropdown>
            <span dropdownToggle type="button" class="glyphicon glyphicon-option-horizontal dropdown-toggle"></span>
            <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu">
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-save-button></app-save-button></a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" href="#"><app-share-button></app-share-button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" src="#" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{resourceResult.name}}</h4>
            <p>{{resourceResult.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <!--end if resource type = article -->
  </div>
</div>
