<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2>Create an account</h2>
      <p>Your information will never be saved or shared without your permission. View our 
        <a href="#">privacy promise</a>.
      </p>
      <p>Already have an account?
        <a href="#">Log in</a>
      </p>
    </div>
  </div>
  <form>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <label>Create a User ID</label>
          <input type="text" class="form-control" id="userID">
          <p class="help-block">Your User ID must include:
            <li>One umber - ex. 1234567890</li>
            <li>One special character - ex. !@#$%^&*()</li>
            <li>One capital letter ex. ABC</li>
          </p>
        </div>
        <div class="form-group">
          <label>Re-type User ID</label>
          <input type="text" class="form-control" id="verfyUserID">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password">
          <p class="help-block">Your Password must include:
            <li>One umber - ex. 1234567890</li>
            <li>One special character - ex. !@#$%^&*()</li>
          </p>
        </div>
        <div class="form-group">
          <label>Re-type Password</label>
          <input type="password" class="form-control" id="verifyPassword">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5 text-center">
        <button type="submit" class="btn btn-primary">Create account</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5 text-center">
        <a href="">Cancel</a>
      </div>
    </div>
  </form>
</div>