h2 {
  margin-top: 0;
}

.user-action {
  margin-top: 20px;
}

.resource-sections:last-child {
  margin-bottom: 40px;
}

@media only screen and (min-width : 768px) {
  .user-action {
    margin-top: 10px;
  }
}

@media only screen and (min-width : 992px) {
  .col-md-4 {
    padding-left: 5%;
  }
}
