<div class="col-md-9 col-sm-12">
  <div class="row">
    <h2>Article Title Lorem Ipsum Dolor Sit Amet</h2>
    <p>Subhead lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem</p>
  </div>
  <div class="row">
    <h4>Headline</h4>
    <p>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter.</p>
    <p>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter.</p>
  </div>
  <div class="row">
    <h4>Headline</h4>
    <p>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecute.</p>
    <ul>
      <li>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor</li>
      <li>Sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter.</li>
      <li>Solor sit amet bibodem consecuter</li>
      <li>Orem ipsum solor sit amet bibodem consecuter lorem ipsum solor</li>
    </ul>
  </div>
  <div class="row">
    <h4>Headline</h4>
    <p>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor.</p>
  </div>
  <div class="row">
    <h4>Headline</h4>
    <p>Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Solor sit amet bibodem consecuter orem ipsum solor sit amet bibodem consecuter lorem ipsum solor sit amet bibodem consecuter. Lorem ipsum solor sit amet bibodem consecuter orem ipsum solor.</p>
  </div>
</div>
<div class="col-md-3 col-sm-12">
  <div class="row">
    <app-guided-assistant-sidebar></app-guided-assistant-sidebar>
    <app-service-org-sidebar></app-service-org-sidebar>
  </div>
</div>
