h2 {
  margin-top: 0;
}

.user-action {
  margin-top: 20px;
}

.resource-sections:last-child {
  margin-bottom: 40px;
}

@media only screen and (min-width : 992px) {
  .col-md-4 {
    padding-left: 5%;
  }
}

.newlines {
  white-space: pre-line;
  margin-top: -20px;
  margin-bottom: -40px
}
