<section>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="VideoId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="6" align="center">Video Table</th>
                        </tr>
                        <tr>
                            <th>Video Id</th>
                            <th>Title</th>
                            <th>Url</th>
                            <th>ResourceJson</th>
                            <th>ActionType</th>
                            <th>LCID</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
