<section>
    <div class="well bs-component">
        <br />

        <div class="row">
            <div>
                <table class="table table-striped table-bordered table-hover"
                       id="QAId"
                       cellspacing="0"
                       align="center"
                       width="100%">
                    <thead>
                        <tr>
                            <th colspan="5" align="center">Questions and Answers Table</th>
                        </tr>
                        <tr>
                            <th>Question and Answer Id</th>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>NsmiCode</th>
                            <th>Intent</th>                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
