a:not([href]):not([tabindex]) {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.account-menu {
  cursor: pointer;
}

#signin-dropdown {
  cursor: pointer;
  position: relative;
  background-image: url('../../../assets/images/small-icons/dropdown_arrow.svg');
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 12px;
}

#signin-dropdown.open  {
  background-image: url('../../../assets/images/small-icons/dropup_arrow.svg');
}

#signin-dropdown a {
  padding-right: 25px;
}

#signin-dropdown a:hover {
  color: #333;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #f4f4f4;
}

.dropdown-menu li a {
  font-size: 14px;
}

.dropdown-menu li a:hover {
  background-color: #fff;
}

@media only screen and (min-width : 768px) {
  .dropdown-menu li a {
    font-size: 14px;
  }

  #signin-dropdown {
    margin-top: 0;
  }
}

@media only screen and (min-width : 992px) {
  .create-account {
    margin-right: -25px;
  }

  .account-menu {
    padding: 20px 15px;
  }

  .account-menu:hover {
    background-color: #fff;
  }

  .account-menu, .account-menu img {
    margin-left: 0;
  }

  .dropdown-menu {
    background-color: #fff;
    box-shadow: 0 6px 12px -3px #ddd;
    right: 0 !important;
    left: unset !important;
  }

  #signin-dropdown {
    width: auto;
    min-width: 160px;
    margin-top: 0;
    background-position: 92% 50%;
    padding: 15px;
    height: 53px;
  }

  .open {
    background-color: #fff;
  }
}

@media only screen and (min-width : 1124px) {
  #signin-dropdown {
    padding: 15px;
  }
}
