<a *ngIf="!isLoggedIn && login" (click)="externalLogin()" class="account-menu">
  <img *ngIf="login.image.source" class="nav-icon" [src]="blobUrl + login?.image?.source" aria-hidden="true"/>{{login?.button?.buttonText}}
</a>
<div *ngIf="isLoggedIn" dropdown class="inline" id="signin-dropdown">
  <a dropdownToggle (click)="false">
    <img *ngIf="login?.image?.source" class="nav-icon" [src]="blobUrl + login?.image?.source" aria-hidden="true" />
    {{userProfile}}
    <img class="dropdown-icon" src="/assets/images/small-icons/dropdown_arrow.svg" alt="signin dropdown icon" />
  </a>
  <ul (click)="onProfileOptionClick()" *dropdownMenu class="dropdown-menu">
    <li class="list-items">
      <a class="dropdown-item" (click)="profile()">My Plan</a>
      <a class="dropdown-item" href="#">Account Settings</a>
      <a class="dropdown-item" (click)="logout()">Log Out</a>
    </li>
  </ul>
</div>
