<a [attr.tabindex]="isMobile ? -1 : 0" id='login-link' *ngIf="!isLoggedIn && login" href="#" (click)="externalLogin()" class="account-menu">
  <img *ngIf="login.image.source" class="nav-icon" [src]="blobUrl + login?.image?.source" aria-hidden="true"/>{{login?.button?.buttonText}}
</a>
<div *ngIf="isLoggedIn" dropdown class="inline" id="signin-dropdown">
  <a dropdownToggle (click)="false" class="dropdown-btn">
    <img *ngIf="login?.image?.source" class="nav-icon" [src]="blobUrl + login?.image?.source" aria-hidden="true" />
    {{userProfileName}}
  </a>
  <ul (click)="onProfileOptionClick()" *dropdownMenu class="dropdown-menu">
    <li class="list-items">
      <a class="dropdown-item" (click)="profile()">My Plan</a>
      <a class="dropdown-item" href="#">Account Settings</a>
      <a *ngIf="isAdmin" class="dropdown-item" [routerLink]="['/admin']">Admin Portal</a>
      <a class="dropdown-item" (click)="logout()">Log Out</a>
    </li>
  </ul>
</div>
