a:not([href]):not([tabindex]) {
  color: #333;
}

a:hover {
  color: #0d3fb8;
  font-weight: 600;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: #fff;
}

.nav-tabs > li > a:hover {
  background-color: transparent;
  border: none;
}

#signin-dropdown .dropdown-menu {
  width: 100%;
  margin-top: 5px;
  text-align: left;
}

#signin-dropdown {
  position: relative;
}

.dropdown-btn {
  background-position: 100% 50%;

}
#signin-dropdown a:first-child {
  padding-right: 25px;
}

#signin-dropdown a:hover {
  color: #333;
  text-decoration: none;
}

#signin-dropdown .dropdown-menu li a {
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px 10px 35px;
}

#signin-dropdown .dropdown-menu li a:hover {
  background-color: transparent;
}

#signin-dropdown .dropdown-menu li a:first-child {
  border-top: 1px solid #ddd;
}

#signin-dropdown .dropdown-menu li a:last-child {
  border: none;
}

.dropdown-menu {
  position: absolute;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #f4f4f4;
}

.dropdown-menu li a {
  font-size: 14px;
}

.dropdown-menu li a:hover {
  background-color: #fff;
}

@media only screen and (min-width : 768px) {

  .dropdown-menu li a:hover {
    color: #0d3fb8;
    font-weight: 600;
  }
  .dropdown-menu li a {
    font-size: 14px;
  }

  #signin-dropdown {
    margin-top: 0;
  }
}

@media only screen and (min-width : 992px) {
  .create-account {
    margin-right: -25px;
  }

  .account-menu {
    padding: 20px 15px;
  }

    .account-menu:hover {
      background-color: #fff;
      font-weight: 400;
    }

  .account-menu, .account-menu img {
    margin-left: 0;
  }

  .dropdown-menu {
    background-color: #fff;
    box-shadow: 0 6px 12px -3px #ddd;
    right: 0 !important;
    left: unset !important;
  }

  #signin-dropdown {
    width: auto;
    min-width: 160px;
    margin-top: 0;
    padding: 15px;
    height: 53px;
  }

  .open {
    background-color: #fff;
  }

  #signin-dropdown .dropdown-menu {
    margin-top: -9px;
  }

  #signin-dropdown .dropdown-menu li a {
    padding: 10px 20px 10px 48px;
  }
}

@media only screen and (min-width : 1124px) {
  #signin-dropdown {
    padding: 15px;
  }
}
