a:not([href]):not([tabindex]) {
  color: #333;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.account-menu {
  cursor: pointer;
}

#signin-dropdown {
  cursor: pointer;
  min-width: 300px;
  position: relative;
}

#signin-dropdown a:hover {
  color: #333;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #f4f4f4;
}

.dropdown-menu li a:hover {
  background-color: #fff;
}

@media only screen and (min-width : 992px) {
  .create-account {
    margin-right: -25px;
  }

  .account-menu {
    padding: 20px 15px;
  }

  .account-menu:hover {
    background-color: #fff;
  }

  .account-menu, .account-menu img {
    margin-left: 0;
  }

  .dropdown-menu {
    background-color: #fff;
    box-shadow: 0 6px 12px -3px #ddd;
    right: 0 !important;
    left: unset !important;
  }

  #signin-dropdown {
    padding: 15px;
    width: auto;
    min-width: 200px;
  }
  
  .open {
    background-color: #fff;
  }
}
