<a
  [attr.tabindex]="isMobile ? -1 : 0"
  id="login-link"
  *ngIf="!isLoggedIn && login"
  href="#"
  (click)="externalLogin($event)"
  class="account-menu"
>
  <img
    *ngIf="login.image.source"
    class="nav-icon"
    [src]="blobUrl + login?.image?.source"
    aria-hidden="true"
  />{{ login?.button?.buttonText }}
</a>
<div *ngIf="isLoggedIn" dropdown class="inline" id="signin-dropdown">
  <a
    [attr.tabindex]="isMobile ? -1 : 0"
    (keyup.enter)="$event.target.click()"
    dropdownToggle
    (click)="(false)"
    class="dropdown-btn"
  >
    <img
      *ngIf="login?.image?.source"
      class="nav-icon"
      [src]="blobUrl + login?.image?.source"
      aria-hidden="true"
    />
    {{ userProfileName }}
  </a>
  <ul (click)="onProfileOptionClick()" *dropdownMenu class="dropdown-menu">
    <li class="list-items">
      <a class="dropdown-item" tabindex="0" (keyup.enter)="profile()" (click)="profile()">My Plan</a>
      <a class="dropdown-item" tabindex="0" href="#">Account Settings</a>
      <a *ngIf="isAdmin" tabindex="0" class="dropdown-item" [routerLink]="['/admin']"
        >Admin Portal</a
      >
      <a class="dropdown-item" tabindex="0" (keyup.enter)="logout()" (click)="logout()">Log Out</a>
    </li>
  </ul>
</div>
