<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="StateBasedContentsDb" connectionString="data source=localhost;initial catalog=StateBasedContentsDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="PlatformCoreDb" connectionString="data source=localhost;initial catalog=ContentDataAccess.PlatformCoreSettingContentsDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="PlatformCoreDb" connectionString="Data Source=tcp:contentsextractionapidbserver.database.windows.net,1433;initial catalog=PlatformCoreDb;User Id=ceaSvc@contentsextractionapidbserver;Password=gedyMagna@2017" providerName="System.Data.SqlClient" />-->
    <!--<add name="ContentsDb_AL" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AL;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>-->
    <add name="ContentsDb_AK" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_AK;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>

    <add name="ContentsDb_WA" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_WA;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>
    <add name="ContentsDb_HI" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=ContentsDb_HI;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>
    <add name="PlatformCoreDb" connectionString="Data Source=msfta2j.database.windows.net;Initial Catalog=PlatformCoreDb;Integrated Security=False;User ID=legaladminuser;Password=P@ssword1234" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>