.topic-list {
  padding: 0;
}

.topics li {
  display: inline-block;
  width: 45%;
  margin-bottom: 15px;
}

.topic-img {
  padding-left: 0;
  margin-top: 10px;
}

.topic-img img {
  width: 100px;
}

.media-object {
  width: 85px;
  height: 85px;
  margin-right: 15px;
  margin-left: 10px;
}

.subtopics {
  margin: 20px 0 30px 10px;
}

  .subtopics a:hover {
    color: #0d3fb8;
    font-weight: 600;
  }

.media-body {
  vertical-align: bottom;
}

.btn-primary {
  margin-bottom: 40px;
}

@media only screen and (min-width : 992px) {
  .col-md-4 {
    padding-left: 5%;
  }
}

.capitalize{
  text-transform:capitalize;
}
