<div class="container">
  <app-breadcrumb #breadcrumb></app-breadcrumb>
  <div class="row topic-content">
    <div class="col-md-9 col-sm-12 col-xs-12 topic-list">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="../../assets/images/topics/topic1.png" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading text-capitalize">More Topics Related to {{breadcrumb.activeTopicName}}</h4>
          <p>Which topic would you like to learn more about?</p>
        </div>
      </div>
      <div class="row subtopics">
        <ul *ngFor="let subtopic of subtopics">
          <li><a [routerLink]="['/topics', subtopic.id]">{{subtopic.name}}</a></li>
        </ul>
      </div>
      <button class="btn btn-primary">Back to main topics</button>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-guided-assistant-sidebar></app-guided-assistant-sidebar>
      <app-service-org-sidebar (notifyLocation)='displayOrganizations($event)'></app-service-org-sidebar>
    </div>
  </div>
</div>
