<div class="container">
  <app-breadcrumb #breadcrumb></app-breadcrumb>
  <div class="row topic-content">
    <div class="col-md-8 col-sm-12 topic-list">
      <div class="media">
        <div class="media-left">
          <img *ngIf="icon"class="media-object" [src]="icon" [alt]="breadcrumb.activeTopicName + ' icon'">
        </div>
        <div class="media-body">
          <h4 class="media-heading text-capitalize">More Topics Related to {{breadcrumb.activeTopicName}}</h4>
          <p>Which topic would you like to learn more about?</p>
        </div>
      </div>
      <div class="subtopics">
        <ul *ngFor="let subtopic of subtopics">
          <li><a [routerLink]="['/topics', subtopic.id]">{{subtopic.name}}</a></li>
        </ul>
      </div>
      <a [routerLink]="['/topics']" class="btn btn-primary">Back to main topics</a>
    </div>
    <div class="col-md-4 col-sm-12 pull-right">
      <app-guided-assistant-sidebar [activeSubTopic]="guidedInput"></app-guided-assistant-sidebar>
      <app-service-org-sidebar (showMoreOrganizations)="clickSeeMoreOrganizationsFromSubtopic($event)"></app-service-org-sidebar>
    </div>
  </div>
</div>
