.topic-list {
  padding: 0;
}

.topic-list .btn-primary {
  margin-bottom: 30px;
}

.topics li {
  display: inline-block;
  width: 45%;
  margin-bottom: 15px;
}

.topic-img {
  padding-left: 0;
  margin-top: 10px;
}

.topic-img img {
  width: 100px;
}

.media-object {
  width: 85px;
  height: 85px;
  margin-right: 15px;
  margin-left: 10px;
}

.subtopics {
  margin: 20px 0 30px 10px;
}

.media-body {
  vertical-align: bottom;
}
