.subtopic-heading {
  display: inline-block;
  margin-top: 0;
}

.subtopic-body {
  margin: 20px;
}

.subtopic-body media {
  padding-top: 15px;
}

.user-action {
  margin-top: 5px;
}

@media only screen and (min-width : 992px) {
  .sidebars {
    float: right;
  }

  .col-md-4 {
    padding-left: 5%;
  }
}
