<div class="container"><!--*ngIf="subtopicDetail"-->
  <a [routerLink]="['/topics']">All topics</a><span class="angle-bracket">></span><a a [routerLink]="['/topics', activeTopic]"><span class="text-capitalize">{{activeTopic}}</span></a><span class="angle-bracket">></span>
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <h3 class="subtopic-heading text-capitalize">{{activeSubtopic}}</h3>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-user-action></app-user-action>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="subtopic-content">
        <div class="subtopic-body">
          <!--<ul *ngFor="let subtopicdetails of subtopicDetailspage">

        <li>
          <a [routerLink]="['/topics',subtopicdetails.id]">{{subtopicdetails.title}}</a>
        </li>
      </ul>-->

        </div>
      </div>
      <!--TO DO # my code start from here--> 
      <div class="col-md-9 col-sm-12 col-xs-12" *ngFor="let subTopicDetail of subtopicDetails">
        <h3 class="subtopic-heading">="Eviction</h3><!--<h2>{{subTopicDetail.title}}</h2>-->
        <span>n>Last Updated on XX/XX/XXX at X:XX AM TZT</span>

        <div class="row" *ngFor="let actionPlan of subTopicDetail.ActionPlan">
          <h3>{{actionPlan.title}}</h3>
          <p>{{actionPlan.description}}</p>
          <!--insert resource content-->
        </div>
        <div class="row" *ngFor="let article of subTopicDetail.Article">
          <h3>{{article.title}}</h3>
          <!--insert resource content-->          
          <p>{{article.description}}</p>
        </div>
        <div class="row" *ngFor="let video of subTopicDetail.Video">
          <h3>{{video.title}}</h3>
          <p>{{video.description}}</p>
          <iframe resource="video.url"></iframe>
          <!--insert resource content-->
        </div>
        <div class="row" *ngFor="let form of subTopicDetail.Form">
          <h3>{{form.title}}</h3>
          <p>{{form.description}}</p>
          <!--insert resource content-->
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <app-guided-assistant-sidebar></app-guided-assistant-sidebar>
      <app-service-org-sidebar></app-service-org-sidebar>
    </div>
  </div>
</div>

