.subtopic-heading {
  display: inline-block;
  margin-top: 0;
}

.subtopic-body {
  margin: 20px;
}

.subtopic-body media {
  padding-top: 15px;
}

.user-action {
  margin-top: 20px;
}

.box-no-shadow {
  margin-bottom: 40px;
}

.link {
  margin-bottom: 10px;
  display: block;
}

@media only screen and (min-width : 992px) {
  .sidebars {
    float: right;
  }

  .user-action {
    margin-top: 15px;
  }

  .col-md-4 {
    padding-left: 5%;
  }
}
